.header-toolbar{
  padding: 5px 15px;
}
.header-toolbar h1{
  font-size: 18px;
}
.header-toolbar small{
  font-size: 9px;
  padding: 20px 5px;
}
.header-toolbar .md-button.md-fab{
  width: 24px;
  height: 24px;
}
.main-content {
  padding: 15px;
}
.projects{
  width:100%;
}
.projects .md-tile-content{
  margin: 10px 20px 0px
}
.projects .md-tile-left{
  margin: 0px 0px 0px 5px;
}