label.control-label {
  font-size: 13px !important;
}

.form-control {
  color: #666 !important;
}

#main-content {
  padding-bottom: 40px;
}

#accordion .panel-heading {
  background-image: none;
  background-color: #6ccac9;
}

#accordion .panel-title {
  color: #fff;
}

#accorion .buttons-strip {
  margin: 0px;
}

.list-area-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.list-area .columns {
  padding: 0px
}

.heading-orange {
  background: #fcb322;
}

.heading-green {
  background: #a9d86e;
}

.list-area .columns > li {
  float: left;
  min-width: 250px;
  padding: 0px !important;
  max-width: 32%;
  border-bottom: 1px solid #ccc !important;
}

.list-area .columns li:last-child {
  clear: right;
}

.list-area .column_placeholder {
  background: #CCCCCC;
  list-style-type: none;
  border-radius: 6px;
}

.list-area .connected-cards {
  min-height: 300px;
}

.list-area .panel {
  margin: 0px;
}

.list-area .panel-heading .options {
  position: absolute;
  right: 8px;
}

.list-area .panel-heading h2 {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  min-height: 19px;
  min-width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.list-area .panel-body {
  padding: 4px !important;
}

.list-area .cols {
  border: 1px solid #CCC;
  border-radius: 6px;
  list-style-type: none;
  background: #ffffff;
  margin-right: 4px;
  padding: 0px;
  min-height: 400px;
}

.list-area .cols .cards > li {
  border: 1px solid #CCC;
  list-style-type: none;
  background: #ffffff;
  padding: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 3px !important;
  border-bottom: 1px solid #ccc !important;
  padding-right: 14px !important;
  position: relative;
}

.list-area .cols .cards > li > .options {
  position: absolute;
  right: 2px;
  top: 0px;
}

.list-area .cols .cards_placeholder {
  background: #fcb322 !important;
}

.list-area .cols .cards_placeholder:after {
  content: 'Drop Here!';
  padding: 10px;
  text-align: center;
}

.logout {
  margin-left: -190px;
}

.organization-dashboard h1 {
  margin: 0px 0px 15px;
  display: inline-block;
}

.organization-dashboard .btn-config {
  margin-right: 5px;
}

.organization-dashboard .configuration .notify-arrow {
  right: 62px !important;
  left: auto !important;

}

.members_initials {
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  left: 0;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.card-hover-class {
  background-color: #adff2f;
}

/* Let's get this party started */

.fancy-scrollbar {
  -webkit-overflow-scrolling: touch
}

.fancy-scrollbar::-webkit-scrollbar {
  height: 9px;
  width: 9px
}

.fancy-scrollbar::-webkit-scrollbar-button:start:decrement, .fancy-scrollbar::-webkit-scrollbar-button:end:increment {
  background: transparent;
  display: none
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: #d0d0d0
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0
}

.fancy-scrollbar::-webkit-scrollbar-thumb:vertical, .fancy-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #999;
  border-radius: 5px;
  display: block;
  height: 50px
}

.dropdown-menu {
  left: auto !important;
  right: 0px !important;
}

label.error {
  color: #FF0000;
}

input.error {
  border: 1px solid #FF0000;
}

.backlog header, .sprint-item header {
  background: #eee;
}

.sprint-item.started header {
  background: #ABFCF8 !important;
}

.input-small {
  width: 120px;
}

.backlog .panel-body, .sprint-item .panel-body {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #FFFFFF;
}

/* ******************************************* */
/* Optional CSS, default style for ng-sortable */
/* ******************************************* */

.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
}

.as-sortable-item, .as-sortable-placeholder {
  display: block;
  min-height: 20px;
  margin: 1px 2px 5px 1px;
}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  opacity: .8;
}

.as-sortable-hidden {
  display: none !important;
}

.as-sortable-placeholder {
  border: 1px dashed #dddddd;
  box-sizing: border-box;
  background-color: #f1fbe5;
}

/* End Sortable */
.task-content {
  margin: 0 !important;
}

.task-list {
  min-height: 40px;
}

.sprint-item {
  background: none !important;
}

.task-list .ticket-item, .task-list .user-story {
  font-size: 12px;
  padding: 15px 0 15px 35px !important;
  position: relative;
  background: #f5f6f8;
  margin-bottom: 2px;
  border-bottom: none !important;
  cursor: pointer;
}

.board-area .ticket-item, .board-area .user-story {
  padding: 9px 0 5px 5px !important;
}

.board-area .ticket-item .options,
.board-area .user-story .options {
  margin-top: 10px;
}

.board-area .members {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.board-area .members li {
  float: left;
}

.board-area .members li > img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 3px;
  border: 1px solid gray;
}

.board-area .members li:last-child {
  clear: right;
}

.ticket-item.U, .user-story.U {
  border-left: 3px solid #78CD51;
}

.ticket-item.B, .user-story.B {
  border-left: 3px solid #ff0000;
}

.ticket-item.F, .user-story.F {
  border-left: 3px solid #ff8a01;
}

.ticket-item.I, .user-story.I {
  border-left: 3px solid #20e4ff;
}

.ticket-item.E, .user-story.E {
  border-left: 3px solid #9c3fff;
}

.ticket-item.T, .user-story.T {
  border-left: 3px solid #f70cff;
}

.ticket-item.NEW, .user-story.NEW {
  border-left: 3px solid #1232ff;
}

.badge.U {
  background-color: #78CD51;
}

.badge.B {
  background-color: #ff0000;
}

.badge.F {
  background-color: #ff8a01;
}

.badge.I {
  background-color: #20e4ff;
}

.badge.E {
  background-color: #9c3fff;
}

.badge.T {
  background-color: #f70cff;
}

.ticket-item.U, .user-story.U {
  border-left: 3px solid #78CD51;
}

.ticket-item i, .user-story i {
  position: absolute;
  left: 6px;
  padding: 4px 10px 0 10px;
  cursor: pointer;
}

.handler {
  cursor: move !important;
}

.columns-in-project header, .import_from_file header {
  background: none;
}

.columns-in-project .panel-body, .import_from_file .panel-body {
  border: none;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

/** Spinner **/
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.board-area-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.board-area .panel-body {
  min-height: 300px;
}

.board-area .columns > li {
  padding-right: 2px;
  padding-left: 0px;
  width: 240px;
  float: left;
}

.board-area .columns li:last-child {
  clear: right;
}

.labels-ticket {
  margin: 10px 0px;
}

.labels-ticket .badge {
  margin-right: 3px;
}

.member {
  padding: 0px;
}

.member img {
  width: 54px;
  border: 1px solid #eee;
  border-radius: 10px;
  display: block;
  margin: 0px auto;
  height: 54px;
  object-fit: cover;
}

.member div {
  margin: 3px auto;
  width: 62px;
}

.user-profile img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.dropdown-menu.extended.logout > li {
  float: left;
  width: 100%;
  background: #00CCFF;
  text-align: center;
}

.dropdown-menu.extended.logout > li > a,
.dropdown-menu.extended.logout > li > a:hover {
  color: #FFFFFF;
}

.dropdown-menu.extended.logout > li > a:hover i {
  color: #FFFFFF;
}

.growl {
  position: fixed;
  z-index: 10000;
  top: 70px;
}

.attachments {
  margin-bottom: 10px;
  clear: both;
}

.attachments .files {
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  clear: both;
}

.attachments .files li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.attachments .files li.aborted {
  background-color: #ff8a01;
}

.attachments .files .progress {
  height: 10px;
}

.add_new_comment {
  margin-top: 10px;
}

.members-menu {
  min-width: 300px;
}

.member-item .img-container {
  margin: 2px 8px;
  padding: 5px;
}

.member-item img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: 1px solid #9c3fff;
  border-radius: 5px;
}

.member-item .member-data {
  margin: 10px 0;
}

.member-item .member {

}

.ui-sortable > li {
  padding: 0px !important;
}

.placeholder-item {
  background-color: #00ffe6 !important;
  border: 1px solid #e8e8e8;
}

.nav > li {
  cursor: pointer;
}

.new-project {
  opacity: 0.6;
  cursor: pointer;
}

.new-project:hover {
  opacity: 0.8;
}

.editable-click, a.editable-click
.editable-click:hover, a.editable-click:hover {
  border: none !important;
  color: inherit !important;
}

.projects .panel-body {
  min-height: 85px;
  padding-top: 5px;
  overflow: auto;
  padding-bottom: 5px;
  max-height: 85px;
}

.beta {
  color: #f00;
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  margin-left: 4px;
  text-shadow: 2px 1px 2px #999;
  background: transparent;
  font-weight: 700;
}

.message-body {
  margin: 0px !important;
}

.message-body img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.msg-time-chat:before {
  display: none !important;
}

.comments {
  margin-top: 10px;
}

.user-search img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-ph);
  color: grey;
  font-style: italic;
}

.editable-textarea {
  display: block !important;
}

.sprint_dates {
  font-size: 11px;
  color: #336ad0;
}

.ticket_loading {
  min-height: 300px;
  padding: 50px;
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #357ebd;
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#00DEFA), to(#49B4B8));
  background-image: -webkit-linear-gradient(top, #00DEFA 0, #49B4B8 100%);
  background-image: -moz-linear-gradient(top, #00DEFA 0, #49B4B8 100%);
  background-image: linear-gradient(to bottom, #00DEFA 0, #49B4B8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00DEFA', endColorstr='#49B4B8', GradientType=0)
}

/* */

.dropdown-menu.extended > .active > a,
.dropdown-menu.extended > .active > a:hover,
.dropdown-menu.extended > .active > a:focus {
  background-color: #F7F8F9 !important;
}

.dropdown-menu > li > a{
  white-space: normal !important;
}

#search_bar {
  position: relative;
}

#search_bar .spinner {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 8px;
  margin: 0px !important;
}

.new-ticket {
  opacity: 0.5;
  background-color: #ddf !important;
}

.new-ticket:hover {
  opacity: 1;
}

.notify-arrow-right {
  border-style: solid;
  border-width: 0 9px 9px;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  right: 7px;
  top: -18px;
  transition: all 0.25s ease 0s;
  width: 0;
  z-index: 10;
  margin-top: 10px;
  opacity: 1;
}

a.unread {
  background-color: #eee;
}

#header_notification_bar img,
.notification-list img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 10px;
}

.notification-list a {
  font-size: 12px;
  list-style: none;
  border-bottom: 1px solid #EBEBEB !important;
  display: inline-block;
  width: 100%;
  padding: 15px 10px !important;
}

.notification-list a:hover {
  color: #2E2E2E;
  background-color: #F7F8F9 !important;
}
