label.control-label {
  font-size: 13px !important;
}

.form-control {
  color: #666 !important;
}

#main-content {
  padding-bottom: 40px;
}

#accordion .panel-heading {
  background-image: none;
  background-color: #6ccac9;
}

#accordion .panel-title {
  color: #fff;
}

#accorion .buttons-strip {
  margin: 0px;
}

.list-area-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.list-area .columns {
  padding: 0px
}

.heading-orange {
  background: #fcb322;
}

.heading-green {
  background: #a9d86e;
}

.list-area .columns > li {
  float: left;
  min-width: 250px;
  padding: 0px !important;
  max-width: 32%;
  border-bottom: 1px solid #ccc !important;
}

.list-area .columns li:last-child {
  clear: right;
}

.list-area .column_placeholder {
  background: #CCCCCC;
  list-style-type: none;
  border-radius: 6px;
}

.list-area .connected-cards {
  min-height: 300px;
}

.list-area .panel {
  margin: 0px;
}

.list-area .panel-heading .options {
  position: absolute;
  right: 8px;
}

.list-area .panel-heading h2 {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  min-height: 19px;
  min-width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.list-area .panel-body {
  padding: 4px !important;
}

.list-area .cols {
  border: 1px solid #CCC;
  border-radius: 6px;
  list-style-type: none;
  background: #ffffff;
  margin-right: 4px;
  padding: 0px;
  min-height: 400px;
}

.list-area .cols .cards > li {
  border: 1px solid #CCC;
  list-style-type: none;
  background: #ffffff;
  padding: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 3px !important;
  border-bottom: 1px solid #ccc !important;
  padding-right: 14px !important;
  position: relative;
}

.list-area .cols .cards > li > .options {
  position: absolute;
  right: 2px;
  top: 0px;
}

.list-area .cols .cards_placeholder {
  background: #fcb322 !important;
}

.list-area .cols .cards_placeholder:after {
  content: 'Drop Here!';
  padding: 10px;
  text-align: center;
}

.logout {
  margin-left: -190px;
}

.organization-dashboard h1 {
  margin: 0px 0px 15px;
  display: inline-block;
}

.organization-dashboard .btn-config {
  margin-right: 5px;
}

.organization-dashboard .configuration .notify-arrow {
  right: 62px !important;
  left: auto !important;

}

.members_initials {
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  left: 0;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.card-hover-class {
  background-color: #adff2f;
}

/* Let's get this party started */

.fancy-scrollbar {
  -webkit-overflow-scrolling: touch
}

.fancy-scrollbar::-webkit-scrollbar {
  height: 9px;
  width: 9px
}

.fancy-scrollbar::-webkit-scrollbar-button:start:decrement, .fancy-scrollbar::-webkit-scrollbar-button:end:increment {
  background: transparent;
  display: none
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: #d0d0d0
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0
}

.fancy-scrollbar::-webkit-scrollbar-thumb:vertical, .fancy-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #999;
  border-radius: 5px;
  display: block;
  height: 50px
}
.dropdown-menu {
  left:auto !important;
  right: 0px !important;
}
label.error{
  color: #FF0000;
}
input.error{
    border:1px solid #FF0000;
}