<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            {{ 'TICKET_DELETE' | translate }}
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p>{{ 'TICKET_DELETE_CONFIRM' | translate }} "{{ vm.ticket.prefix }}-{{ vm.ticket.number }}: {{ vm.ticket.title }}"?</p>
            <button class="btn btn-danger"
                        data-ng-click="vm.erase();">{{ 'TICKET_DELETE' | translate }}
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();">{{ 'TICKET_CANCEL' | translate }}
                </button>
        </div>
    </div>
</section>