<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            <[ 'DELETE PROJECT' | translate]>
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p><[ 'DELETE PROJECT CONFIRM' | translate]> "<[ vm.project.name ]>"?</p>
            <button class="btn btn-danger"
                        data-ng-click="vm.erase();"><[ 'DELETE CONFIRM' | translate ]>
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();"><[ 'CANCEL' | translate]>
                </button>
        </div>
    </div>
</section>