<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            <[ 'NEW PROJECT' | translate ]>
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.project_form" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>

                <div class="form-group">
                    <label><[ 'NAME' | translate ]></label>
                    <input class="form-control"
                           data-ng-class="{'error': vm.form.project_form.name.$invalid && vm.submitted}"
                           autocomplete="off"
                           placeholder="Name" data-ng-model="vm.project.name"
                           name="name" type="text" required>
                    <label for="name" class="error"
                           data-ng-show="vm.form.project_form.name.$invalid && vm.submitted"><[ 'INVALID PROJECT NAME' | translate ]></label>
                </div>
                <div class="form-group">
                    <label><[ 'DESCRIPTION' | translate]></label>
                    <textarea class="form-control" rows="3"
                              name="description"
                              data-ng-model="vm.project.description"></textarea>
                </div>
                <div class="form-group">
                    <label><[ 'PROJECT PREFIX' | translate ]></label>
                    <input class="form-control"
                           data-ng-class="{'error': vm.form.project_form.prefix.$invalid && vm.submitted}"
                           autocomplete="off"
                           placeholder="Prefix" data-ng-model="vm.project.prefix"
                           name="prefix" type="text">
                </div>
                <div class="form-group">
                    <label><[ 'PROJECT ACTIVE' | translate ]></label>
                    <input type="checkbox" ng-init="vm.project.active=true" name="active" ng-model="vm.project.active">
                </div>

                <button class="btn btn-primary"
                        type="submit"><[ 'SAVE' | translate ]>
                </button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="vm.cancel();"><[ 'CANCEL' | translate]>
                </button>

            </form>
        </div>
    </div>
</section>