<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            New Project
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.project_form" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control"
                           data-ng-class="{'error': vm.form.project_form.name.$invalid && vm.submitted}"
                           autocomplete="off"
                           placeholder="Name" data-ng-model="vm.project.name"
                           name="name" type="text" required>
                    <label for="name" class="error"
                           data-ng-show="vm.form.project_form.name.$invalid && vm.submitted">Please
                        enter a name</label>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3"
                              name="description"
                              data-ng-model="vm.project.description"></textarea>
                </div>
                <div class="form-group">
                    <label>Prefix</label>
                    <input class="form-control"
                           data-ng-class="{'error': vm.form.project_form.prefix.$invalid && vm.submitted}"
                           autocomplete="off"
                           placeholder="Prefix"
                           data-ng-model="vm.project.prefix"
                           name="prefix" type="text">
                </div>
                <div class="form-group">
                    <label>Project Type</label>
                    <select ng-model="vm.project.project_type"
                            required
                            name="project_type"
                            data-ng-class="{'error': vm.form.project_form.project_type.$invalid && vm.submitted}"
                            class="form-control">
                        <option value="S">Scrum</option>
                        <option value="K">Kanban</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Active</label>
                    <input type="checkbox" ng-checked="true"
                           name="active" ng-model="vm.project.active">
                </div>

                <button class="btn btn-primary"
                        type="submit">Save
                </button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="vm.cancel();">Cancel
                </button>

            </form>
        </div>
    </div>
</section>