<h3>
    <[ project.name ]>
    <a class="btn btn-success btn-sm pull-left"
       href="/tickets-for/<[ project._id.$oid ]>/new-ticket">Add New
        Task</a>
</h3>
<p><[ project.description ]></p>
<hr/>

<div class="row">
    <div class="col-md-12">
        <section class="panel task-widget" ng-repeat="sprint in sprints">
            <header class="panel-heading">
                <span><[ sprint.name ]></span>
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul class="task-list">
                        <li ng-repeat="ticket in sprint.tickets track by ticket._id.$oid">
                            <div class="task-title">
                                <span class="task-title-sp">
                                  <[ project.prefix ]>-<[ ticket.number ]>: <[ ticket.title ]>
                                </span>

                                <div class="pull-right hidden-phone">
                                    <button class="btn btn-success btn-xs"><i
                                            class="icon-ok"></i></button>
                                    <button class="btn btn-primary btn-xs"><i
                                            class="icon-pencil"></i></button>
                                    <button class="btn btn-danger btn-xs"><i
                                            class="icon-trash "></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="panel tasks-widget backlog">
            <header class="panel-heading">
                <span>Backlog</span>
                <div class="add-task-row pull-right">
                    <a class="btn btn-primary btn-sm pull-left" href="#">Create
                        Sprint</a>
                </div>
                <div style="clear:both"></div>
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul class="task-list">
                        <li ng-repeat="ticket in tickets track by ticket._id.$oid">
                            <div class="task-title">
                                <span class="task-title-sp">
                                  <[ project.prefix ]>-<[ ticket.number ]>: <[ ticket.title ]>
                                </span>

                                <div class="pull-right hidden-phone">
                                    <button class="btn btn-success btn-xs"><i
                                            class="icon-ok"></i></button>
                                    <button class="btn btn-primary btn-xs"><i
                                            class="icon-pencil"></i></button>
                                    <button class="btn btn-danger btn-xs"><i
                                            class="icon-trash "></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>