<h3>
    <[ project.name ]>
    <a class="btn btn-success btn-sm pull-right" href="#"
       ng-click="add_or_edit();">Add New
        Ticket</a>
</h3>
<p><[ project.description ]></p>


<div class="row" id="planning">
    <div class="col-md-12" id="planning-list">
        <ul class="sprint-section" as-sortable="sortSprints" is-enabled="true"
            ng-model="data.sprints">
            <li ng-repeat="sprint in data.sprints" as-sortable-item
                class="sprint-item">
                <section class="panel tasks-widget sprint-item" ng-class="{started:sprint.started}">
                    <header class="panel-heading">
                        <i class="icon-ellipsis-vertical handler"
                           as-sortable-item-handle></i>
                        <span><[ sprint.name ]></span>
                        <span class="badge"><[ sprint.tickets.length ]></span>
                        <div class="options pull-right">
                            <span class="badge bg-inverse">Total Points: <[ sprint.tickets | sumValue:'points' ]></span>
                            <a ng-if="$index == 0 && data.no_started_sprint" class="btn btn-primary btn-sm" href="#"
                               ng-click="startSprint(sprint);">Start Sprint</a>
                            <a ng-if="sprint.started" class="btn btn-danger btn-sm" href="#"
                               ng-click="stopSprint(sprint);">Stop Sprint</a>
                            <a class="btn btn-sm btn-danger"
                               ng-click="remove_sprint(sprint._id.$oid)">
                                <i class="icon-remove"></i> Remove
                            </a>
                        </div>
                        <div style="clear:both"></div>
                    </header>
                    <div class="panel-body">
                        <div class="task-content">
                            <ul class="task-list" as-sortable="sortTickets"
                                is-enabled="true" ng-model="sprint.tickets">
                                <li ng-repeat="tkt in sprint.tickets track by tkt._id.$oid"
                                    as-sortable-item
                                    class="ticket-item <[ tkt.type ]>">
                                    <i class="icon-ellipsis-vertical handler"
                                       as-sortable-item-handle></i>

                                    <div class="task-title">
                                        <span class="task-title-sp">
                                          <[ project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]>
                                        </span>
                                        <span class="badge badge-sm label-primary"
                                              ng-repeat="lbl in tkt.labels"><[ lbl ]></span>

                                        <div class="pull-right hidden-phone">
                                            <span class="badge bg-info"><[ tkt.points ]></span>
                                            <button class="btn btn-success btn-xs  icon-eye-open"
                                                    ng-click="showDetail(tkt);"></button>
                                            <button class="btn btn-primary btn-xs icon-pencil"
                                                    ng-click="add_or_edit(tkt);"></button>
                                            <button class="btn btn-danger btn-xs icon-trash"></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
        </ul>

        <section class="panel tasks-widget backlog">
            <header class="panel-heading">
                <span>Backlog</span>
                <span class="badge"><[ data.tickets.length ]></span>
                <div class="add-task-row pull-right">
                    <span class="badge bg-inverse">Total Points: <[ data.tickets | sumValue:'points' ]></span>
                    <a class="btn btn-primary btn-sm" href="#"
                       ng-click="create_sprint();">Create
                        Sprint</a>
                </div>
                <div style="clear:both"></div>
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul class="task-list" as-sortable="sortBacklog"
                        ng-model="data.tickets" is-enabled="true">
                        <li ng-repeat="tkt in data.tickets track by tkt._id.$oid"
                            as-sortable-item class="user-story <[ tkt.type ]>">
                            <i class="icon-ellipsis-vertical"
                               as-sortable-item-handle></i>

                            <div class="task-title">
                                        <span class="task-title-sp">
                                          <[ project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]>
                                        </span>
                                <span class="badge badge-sm label-primary"
                                      ng-repeat="lbl in tkt.labels"><[ lbl ]></span>

                                <div class="pull-right hidden-phone">
                                    <span class="badge bg-info"><[ tkt.points ]></span>
                                    <button class="btn btn-success btn-xs icon-eye-open"
                                            ng-click="showDetail(tkt);"></button>
                                    <button class="btn btn-primary btn-xs icon-pencil"
                                            ng-click="add_or_edit(tkt);"></button>
                                    <button class="btn btn-danger btn-xs icon-trash"></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <ticket-detail-view reduced-item="#planning-list" size-reduced-item="8">
    </ticket-detail-view>
</div>