<div class="row">
    <div class="col-lg-12">
        <ul class="breadcrumb">
            <li><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
            <li><[ project.name ]></li>
            <li class="active">
                <span ng-if="vm.planning">Planning</span>
                <span ng-if="vm.board">Board</span>
                <span ng-if="vm.reports">Reports</span>
                <span ng-if="vm.archived">Archived Sprints</span>
                <span ng-if="vm.closed_tickets">Archived Tickets</span>
                <span ng-if="vm.settings">Project Settings</span>
            </li>
        </ul>
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-tabs">
                    <li ui-sref-active="active">
                        <a href="#"
                           ui-sref="project.planning({project_pk: project._id.$oid})"
                           ui-sref-opts="{reload: true}"
                                >Planning</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="project.board({project_pk: project._id.$oid})"
                           ui-sref-opts="{reload: true}">Board</a>
                    </li>
                    <li ui-sref-active="active" ng-if="vm.project.project_type == 'S'">
                        <a ui-sref="project.reports({project_pk: project._id.$oid})"
                           ui-sref-opts="{reload: true}"
                                >Reports</a>
                    </li>
                    <li ui-sref-active="active" ng-if="vm.project.project_type == 'S'">
                        <a ui-sref="project.archived({project_pk: project._id.$oid})"
                           ui-sref-opts="{reload: true}"
                                >Archived
                            Sprints</a>
                    </li>
                    <li ui-sref-active="active">
                        <a
                                ui-sref="project.closed_tickets({project_pk: project._id.$oid})"
                                ui-sref-opts="{reload: true}">Archived
                            Tickets</a>
                    </li>
                    <li ng-show="vm.check_permission()"
                        ui-sref-active="active">
                        <a
                                ui-sref="project.settings({project_pk: project._id.$oid})"
                                ui-sref-opts="{reload: true}">Project
                            Settings</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="planning-overview"
                         class="tab-pane" ng-class="{active: vm.planning}">
                        <div ui-view="project-planning"></div>
                    </div>
                    <div id="board" class="tab-pane"
                         ng-class="{active: vm.board}">
                        <div ui-view="project-board"></div>
                    </div>
                    <div id="reports" class="tab-pane"
                         ng-class="{active: vm.reports}">
                        <div ui-view="project-reports"></div>
                    </div>
                    <div id="sprint-archived-overview"
                         class="tab-pane" ng-class="{active: vm.archived}">
                        <div ui-view="project-archived"></div>
                    </div>
                    <div id="tickets-archived-overview"
                         class="tab-pane"
                         ng-class="{active: vm.closed_tickets}">
                        <div ui-view="closed_tickets"></div>
                    </div>
                    <div id="settings" class="tab-pane"
                         ng-class="{active: vm.settings}">
                        <div ui-view="project-settings"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>