<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue ">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: vm.planning}">
                        <a data-toggle="tab"
                           ng-click="vm.switchView('project.planning');"><[ 'PLANNING' | translate ]></a>
                    </li>
                    <li ng-class="{active: vm.board}">
                        <a data-toggle="tab"
                           ng-click="vm.switchView('project.board');"><[ 'BOARD' | translate ]></a>
                    </li>
                    <li ng-class="{active: vm.reports}">
                        <a data-toggle="tab"
                           ng-click="vm.switchView('project.reports');"><[ 'REPORTS' | translate ]></a>
                    </li>
                    <li ng-class="{active: vm.archived}">
                        <a data-toggle="tab"
                           ng-click="vm.switchView('project.archived');"><[ 'ARCHIVED SPRINTS' | translate ]></a>
                    </li>
                    <li ng-show="vm.check_permission()" ng-class="{active: vm.settings}">
                        <a data-toggle="tab"
                           ng-click="vm.switchView('project.settings');"><[ 'PROJECT SETTINGS' | translate ]></a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="planning-overview"
                         class="tab-pane" ng-class="{active: vm.planning}">
                        <div ui-view="project-planning"></div>
                    </div>
                    <div id="board" class="tab-pane" ng-class="{active: vm.board}">
                        <div ui-view="project-board"></div>
                    </div>
                    <div id="reports" class="tab-pane" ng-class="{active: vm.reports}">
                        <div ui-view="project-reports"></div>
                    </div>
                    <div id="sprint-archived-overview"
                         class="tab-pane" ng-class="{active: vm.archived}">
                        <div ui-view="project-archived"></div>
                    </div>
                    <div id="settings" class="tab-pane" ng-class="{active: vm.settings}">
                        <div ui-view="project-settings"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>