<!DOCTYPE html>
<html lang="en" ng-app="Coati" ng-controller="AppCtrl as main" data-ng-class="{true:'login-content'}[main.actual_path=='login']">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-ng-bind="pageTitle"></title>
    <link rel="shortcut icon"
          href="/static/assets/koala.ico"/>
    <!-- Bootstrap core CSS -->
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/static/<%= file %>"/>
    <% }); %>
</head>

<body navigation data-ng-class="{true:'login-content'}[main.actual_path=='login']">
<div id="wrapper" ui-view="master_view" ng-cloak translate-cloak>
    <header id="header">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a data-ui-sref="home">Coati Agile Board</a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    <li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox"
                                   hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>
                    <li id="top-search">
                        <a class="tm-search" href=""></a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <input type="text">
            <i id="top-search-close">&times;</i>
        </div>
    </header>

    <section id="main">
        <aside id="sidebar">
            <div class="sidebar-inner">
                <div class="si-inner">
                    <div class="profile-menu" ng-controller="UserCtrl as vm">
                        <a href="">
                            <div class="profile-pic">
                                <img ng-if="!vm.user.picture" alt=""
                                     src="/static/assets/img/koala.png">
                                <img ng-if="vm.user.picture" alt=""
                                     ng-src="{{ vm.user.picture }}">
                            </div>

                            <div class="profile-info">
                                {{ vm.user.email }}

                                <i class="md md-arrow-drop-down"></i>
                            </div>
                        </a>

                        <ul class="main-menu">
                            <li>
                                <a href="profile-about.html"><i
                                        class="md md-person"></i> View
                                    Profile</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="main-menu"
                        data-ng-controller="ProjectCtrl as PrjCtrl">
                        <li ui-sref-active="active"><a href="/"><i
                                class="md md-home"></i> Project List</a></li>
                        <li ng-if="PrjCtrl.project" ui-sref-active="active"><a
                                ui-sref="project.planning({project_pk: PrjCtrl.project._id.$oid})"
                                ui-sref-opts="{reload: true}"><i
                                class="md md-list"></i> {{
                            'PROJECT_PLANNING' | translate }}</a></li>
                        <li ng-if="PrjCtrl.project" ui-sref-active="active"><a
                                ui-sref="project.board({project_pk: PrjCtrl.project._id.$oid})"
                                ui-sref-opts="{reload: true}"><i
                                class="md md-dashboard"></i> {{
                            'PROJECT_BOARD' | translate }}</a></li>
                        <li ng-if="PrjCtrl.project" ui-sref-active="active"><a
                                ui-sref="project.reports({project_pk: PrjCtrl.project._id.$oid})"
                                ui-sref-opts="{reload: true}"><i
                                class="md md-archive"></i> {{
                            'PROJECT_REPORTS' | translate }}</a></li>
                        <li ng-if="PrjCtrl.project" ui-sref-active="active"><a
                                ui-sref="project.closed_tickets({project_pk: PrjCtrl.project._id.$oid})"
                                ui-sref-opts="{reload: true}"><i
                                class="md md-archive"></i> {{
                            'PROJECT_ARCHIVED_TICKETS' | translate }}</a></li>
                        <li ng-if="PrjCtrl.project" ui-sref-active="active"><a
                                ui-sref="project.archived({project_pk: PrjCtrl.project._id.$oid})"
                                ui-sref-opts="{reload: true}"><i
                                class="md md-archive"></i> {{
                            'PROJECT_ARCHIVED_SPRINTS' | translate }}</a></li>
                        <li ng-if="PrjCtrl.project && PrjCtrl.check_permission()"
                            ui-sref-active="active"><a
                                ui-sref="project.settings({project_pk: PrjCtrl.project._id.$oid})"
                                ui-sref-opts="{reload: true}"><i
                                class="md md-settings"></i> {{
                            'PROJECT_PROJECT_SETTINGS' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </aside>

        <section id="content">
            <div class="container" ui-view="main">

            </div>
        </section>
    </section>
</div>
<% scripts.forEach( function ( file ) { %>
<script type="text/javascript"
        src="/static/<%= file %>"></script>
<% }); %>
<script type="text/javascript"
        src="http://localhost:8001/socket.io/socket.io.js"></script>
</body>
</html>