<div class="col-lg-6">

    <section class="panel">


        <header class="panel-heading">
            User Profile
        </header>
        <div class="panel-body">
            <form class="form-horizontal" name="form">

                <div class="alert alert-block alert-danger fade in"
                     data-ng-repeat="alert in alerts">
                    <button data-dismiss="alert"
                            data-ng-click="closeAlert($index)"
                            class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    <[ alert.msg ]>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Image</label>

                    <div class="col-lg-10">
                        <input type="file" accept="image/*"
                               data-ng-model="picture"
                               image="image"
                               resize-max-height="120"
                               resize-max-width="120"
                               resize-quality="1"/>
                        <img data-ng-show="image"
                             data-ng-src="<[ image.resized.dataURL ]>"
                             type="<[ image.file.type ]>" width="120"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">First
                        Name</label>

                    <div class="col-lg-10">
                        <input class="form-control" autocomplete="off"
                               placeholder="First Name"
                               data-ng-model="user.first_name"
                               name="first_name" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Last
                        Name</label>

                    <div class="col-lg-10">
                        <input class="form-control" autocomplete="off"
                               placeholder="Last Name"
                               data-ng-model="user.last_name"
                               name="last_name" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Username</label>

                    <div class="col-lg-10">
                        <input class="form-control" autocomplete="off"
                               placeholder="Username"
                               data-ng-model="user.username"
                               name="username" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Email</label>

                    <div class="col-lg-10">
                        <input class="form-control" autocomplete="off"
                               placeholder="E-Mail" data-ng-model="user.email"
                               name="email" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary"
                                data-ng-click="save(image, form);">Submit
                        </button>
                        <a href="/home/" type="button" class="btn btn-danger">Cancel
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>