<div style="display:inline;" ng-if="controlType === 'select'">
    <select style="width:auto;display: inline-block"
            on-esc="cancel();"
            ng-options="obj.value as obj.name for obj in collection"
            class="form-control" ng-model="model" ng-show="editMode"></select>
    <button ng-show="editMode" style="margin-left: 6px;border: 1px solid #999;"
            type="button" class="btn btn-xs btn-success"
            ng-click="save();">Save
    </button>
    <span ng-hide="editMode" ng-click="edit()"><[ show ]></span>
</div>
<div style="display:inline;" ng-if="controlType === 'input'">
    <input ng-style="{ width: custom_width }"
           style="display: inline-block"
           class="form-control" type="text" on-enter="save()"
           on-esc="cancel()" ng-model="model" ng-show="editMode"><span
        ng-hide="editMode" ng-click="edit()"><[ model ]></span>
</div>
<div style="display:inline;" ng-if="controlType === 'textarea'">
    <textarea class="form-control" ng-model="model" ng-show="editMode"
              on-esc="cancel();"></textarea>
    <button type="button" ng-show="editMode" class="btn btn-success"
            ng-click="save();">Save
    </button>
    <p ng-hide="editMode" ng-click="edit()"><[ model ]></p>
</div>