<div class="block-header">
    <h2>{{ vm.project.name }}</h2>
    <small>{{ vm.project.description }}</small>
</div>

<button class="btn bgm-red btn-float new-button"
        ng-click="vm.add_or_edit($event);"
        title="{{ 'PLANNING_NEW_TICKET' | translate }}">
    <i class="md md-add"></i>
</button>
<div class="sprints" ng-if="vm.is_scrumm()"
     ui-sortable="vm.sortSprintOptions"
     ng-model="vm.sprints">
    <!-- sprint items -->
    <div class="card sprint-item" ng-repeat="sprint in vm.sprints">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt">
                <h2 class="lvh-label">
                <span editable-text="sprint.name"
                      onbeforesave="vm.renameSprint(sprint);">{{ sprint.name }}</span>
                    <span ng-if="sprint.started" class="sprint_dates">({{ sprint.start_date.$date | date:'MM/dd/yyyy' }} {{ 'PLANNING_TO' | translate }} {{ sprint.end_date.$date | date:'MM/dd/yyyy'}})</span>
                </h2>
                <ul class="lv-actions actions">
                    <li ng-if="$index == 0 && !vm.one_started && !sprint.finalized && !sprint.started">
                        <a href="" ng-click="vm.startSprint(sprint);"
                           title="{{'PLANNING_START_SPRINT' | translate }}">
                            <i class="md md-play-circle-outline"></i>
                        </a>
                    </li>
                    <li ng-if="sprint.started && !sprint.finalized">
                        <a href="javascript:;"
                           ng-click="vm.edit_sprint(sprint);"
                           title="{{'PLANNING_EDIT_SPRINT'| translate }}">
                            <i class="md md-mode-edit"></i>
                        </a>
                    </li>
                    <li ng-if="sprint.started && !sprint.finalized">
                        <a href="javascript:;" ng-click="vm.stopSprint(sprint);"
                           title="{{'PLANNING_STOP_SPRINT'| translate }}">
                            <i class="md md-stop"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"
                           ng-click="vm.remove_sprint(sprint);"
                           title="{{'PLANNING_REMOVE_SPRINT'| translate }}">
                            <i class="md md-highlight-remove"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="lv-body" ui-sortable="vm.sortTicketOptions"
                 ng-model="sprint.tickets">
                <div ng-repeat="tkt in sprint.tickets track by tkt._id.$oid"
                     class="lv-item media ticket-item {{ tkt.type }}"
                     ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <ng-include src="'planning/ticket-body.tpl.html'"
                                replace="true"></ng-include>
                </div>
                <div class="lv-item media">
                    <div class="media-body">
                        <div class="lv-title"
                             onaftersave="vm.saveQuickTicket(sprint);"
                             editable-text="vm.new_ticket"
                             e-ng-keypress="$event.which === 13 ? ticketFormSprint.$submit() : false">
                            {{ 'PLANNING_FAST_NEW_TICKET' | translate }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- here goes backlog -->
<div class="card">
    <div class="listview lv-bordered lv-lg sprint-item">
        <div class="lv-header-alt">
            <h2 class="lvh-label hidden-xs">
                <span>{{ 'PLANNING_BACKLOG' | translate }}</span>
            </h2>
            <ul class="lv-actions actions">
                <li ng-if="vm.is_scrumm()">
                    <a href="" ng-click="vm.create_sprint();"
                       title="{{'PLANNING_CREATE_SPRINT' | translate }}">
                        <i class="md md-add"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" aria-expanded="true">
                        <i class="md md-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Delete Selected Tickets</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="lv-body" ui-sortable="vm.sortTicketOptions"
             ng-model="vm.tickets">
            <div ng-repeat="tkt in vm.tickets track by tkt._id.$oid"
                 class="lv-item media user-story {{ tkt.type }}"
                 ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})">
                <div class="checkbox pull-left"
                     ng-click="$event.stopPropagation();">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                    </label>
                </div>
                <ng-include src="'planning/ticket-body.tpl.html'"
                            replace="true"></ng-include>
            </div>
            <!-- Place holder ticket to quick creation -->
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title"
                         onaftersave="vm.saveQuickTicket(sprint);"
                         editable-text="vm.new_ticket"
                         e-ng-keypress="$event.which === 13 ? ticketFormSprint.$submit() : false">
                        {{ 'PLANNING_FAST_NEW_TICKET' |
                        translate }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

