<h3>
    {{ vm.project.name }}
</h3>
<button class="btn bgm-red btn-float new-button"
        ng-click="vm.add_or_edit($event);" title="{{ 'PLANNING_NEW_TICKET' | translate }}">
    <i class="md md-add"></i>
</button>
<p>{{ vm.project.description }}</p>
<div class="row" id="planning">
    <div class="col-md-12" id="planning-list">
        <ul ng-if="vm.is_scrumm()" class="sprint-section"
            ui-sortable="vm.sortSprintOptions"
            ng-model="vm.sprints">
            <li ng-repeat="sprint in vm.sprints"
                class="sprint-item">
                <section class="panel tasks-widget sprint-item"
                         ng-class="{started:sprint.started}">
                    <header class="panel-heading">
                        <span editable-text="sprint.name"
                              onbeforesave="vm.renameSprint(sprint);">{{ sprint.name }}</span>
                        <span ng-if="sprint.started" class="sprint_dates">({{ sprint.start_date.$date | date:'MM/dd/yyyy' }} {{ 'PLANNING_TO' | translate }} {{ sprint.end_date.$date | date:'MM/dd/yyyy'}})</span>

                        <div class="options pull-right">
                            <span class="badge bg-inverse">{{ 'PLANNING_TOTAL_TICKETS' | translate }}: {{ sprint.tickets.length }}</span>
                            <span class="badge bg-inverse">{{ 'PLANNING_TOTAL_POINTS' | translate }}: {{ sprint.tickets | sumValue:'points' }}</span>
                            <a ng-if="$index == 0 && !vm.one_started && !sprint.finalized && !sprint.started"
                               class="btn btn-primary btn-sm"
                               href="javascript:;"
                               ng-click="vm.startSprint(sprint);">{{
                                'PLANNING_START_SPRINT' | translate }}</a>
                            <a ng-if="sprint.started && !sprint.finalized"
                               class="btn btn-primary btn-sm"
                               href="javascript:;"
                               ng-click="vm.edit_sprint(sprint);">{{'PLANNING_EDIT_SPRINT'
                                | translate }}</a>
                            <a ng-if="sprint.started && !sprint.finalized"
                               class="btn btn-danger btn-sm" href="javascript:;"
                               ng-click="vm.stopSprint(sprint);">{{
                                'PLANNING_STOP_SPRINT' | translate }}</a>
                            <a class="btn btn-sm btn-danger"
                               ng-click="vm.remove_sprint(sprint._id.$oid)">
                                <i class="icon-remove"></i> {{
                                'PLANNING_REMOVE_SPRINT' | translate }}
                            </a>
                        </div>
                        <div style="clear:both"></div>
                    </header>
                    <div class="panel-body">
                        <div class="task-content">
                            <ul class="task-list"
                                ui-sortable="vm.sortTicketOptions"
                                ng-model="sprint.tickets">
                                <li ng-repeat="tkt in sprint.tickets track by tkt._id.$oid"
                                    class="ticket-item {{ tkt.type }}"
                                    ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})"
                                        >
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                          {{ vm.project.prefix }}-{{ tkt.number }}: {{ tkt.title }}
                                        </span>

                                        <div class="pull-right hidden-phone">
                                            <span class="badge bg-info"
                                                  style="margin-right:2px"
                                                  ng-repeat="lbl in tkt.labels">
                                                {{ lbl }}
                                            </span>
                                            <span class="badge bg-warning">{{ tkt.points }} Pts.</span>
                                            <span ng-if="tkt.badges.comments > 0"
                                                  class="badge"
                                                  title="Comments"><i
                                                    class="icon-comments"></i> {{ tkt.badges.comments }}</span>
                                            <span ng-if="tkt.badges.files > 0"
                                                  class="badge"
                                                  title="Attachments"><i
                                                    class="icon-paper-clip"></i> {{ tkt.badges.files }}</span>
                                            <button title="Clone Ticket"
                                                    class="btn btn-primary btn-xs icon-copy"
                                                    ng-click="vm.clone_ticket($event,tkt);"></button>
                                            <button title="Delete Ticket"
                                                    class="btn btn-danger btn-xs icon-trash"
                                                    ng-click="vm.delete_ticket($event, tkt);"></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="ticket-item new-ticket NEW"
                                    title="Click to create a new ticket">
                                    <div
                                            onaftersave="vm.saveQuickTicket(sprint);"
                                            editable-text="vm.new_ticket"
                                            e-form="ticketFormSprint"
                                            ng-show="!ticketFormSprint.$visible"
                                            e-ng-keypress="$event.which === 13 ? ticketFormSprint.$submit() : false"
                                            ng-click="ticketFormSprint.$show()">
                                        {{ 'PLANNING_FAST_NEW_TICKET' |
                                        translate }}
                                    </div>
                                    <form editable-form name="ticketFormSprint"
                                          ng-show="ticketFormSprint.$visible"
                                          class="form-buttons form-inline"
                                          style="margin: 5px 0 0">
                                        <button type="submit"
                                                ng-disabled="ticketFormSprint.$waiting"
                                                class="btn btn-primary">
                                            <i class="icon-ok"></i>
                                        </button>
                                        <button type="button"
                                                ng-disabled="ticketFormSprint.$waiting"
                                                ng-click="ticketFormSprint.$cancel()"
                                                class="btn btn-default">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
        </ul>

        <section class="panel tasks-widget backlog">
            <header class="panel-heading">
                <span>{{ 'PLANNING_BACKLOG' | translate }}</span>

                <div class="add-task-row pull-right">
                    <input type="text" class="form-control input-sm search"
                           ng-model="vm.searchBacklog" placeholder="Search..."/>
                    <span class="badge bg-inverse">{{ 'PLANNING_TOTAL_TICKETS' | translate }}: {{ vm.tickets.length }}</span>
                    <span class="badge bg-inverse" ng-if="vm.is_scrumm()">{{ 'PLANNING_TOTAL_POINTS' | translate }}: {{ vm.tickets | sumValue:'points' }}</span>
                    <a ng-if="vm.is_scrumm()" class="btn btn-primary btn-sm"
                       href="javascript:;"
                       ng-click="vm.create_sprint();">{{
                        'PLANNING_CREATE_SPRINT' | translate }}</a>
                </div>
                <div style="clear:both"></div>
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul class="task-list" ui-sortable="vm.sortTicketOptions"
                        ng-model="vm.tickets">
                        <li ng-repeat="tkt in vm.tickets | filter: {'title': vm.searchBacklog} track by tkt._id.$oid"
                            class="user-story {{ tkt.type }}"
                            ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})"
                                >
                            <div class="task-title">
                                <span class="task-title-sp">
                                  {{ vm.project.prefix }}-{{ tkt.number }}: {{ tkt.title }}
                                </span>

                                <div class="pull-right hidden-phone">
                                    <span class="badge bg-info"
                                          style="margin-right:2px"
                                          ng-repeat="lbl in tkt.labels">
                                                {{ lbl }}
                                            </span>
                                    <span class="badge bg-warning"
                                          ng-if="vm.is_scrumm()">{{ tkt.points }} Pts.</span>
                                    <span ng-if="tkt.badges.comments > 0"
                                          class="badge" title="Comments"><i
                                            class="icon-comments"></i> {{ tkt.badges.comments }}</span>
                                    <span ng-if="tkt.badges.files > 0"
                                          class="badge" title="Attachments"><i
                                            class="icon-paper-clip"></i> {{ tkt.badges.files }}</span>
                                    <button title="Clone Ticket"
                                            class="btn btn-primary btn-xs icon-copy"
                                            ng-click="vm.clone_ticket($event,tkt);"></button>
                                    <button title="Delete Ticket"
                                            class="btn btn-danger btn-xs icon-trash"
                                            ng-click="vm.delete_ticket($event,tkt);"></button>
                                </div>
                            </div>
                        </li>
                        <li class="ticket-item new-ticket NEW"
                            title="Click to create a new ticket">
                            <div
                                    editable-text="vm.new_ticket"
                                    e-form="ticketFormBacklog"
                                    onaftersave="vm.saveQuickTicket();"
                                    e-ng-keypress="$event.which === 13 ? ticketFormBacklog.$submit() : false"
                                    ng-show="!ticketFormBacklog.$visible"
                                    ng-click="ticketFormBacklog.$show()">{{
                                'PLANNING_FAST_NEW_TICKET' | translate }}

                            </div>
                            <form editable-form name="ticketFormBacklog"
                                  ng-show="ticketFormBacklog.$visible"
                                  class="form-buttons form-inline"
                                  style="margin: 5px 0 0">
                                <button type="submit"
                                        ng-disabled="ticketFormBacklog.$waiting"
                                        class="btn btn-primary">
                                    <i class="icon-ok"></i>
                                </button>
                                <button type="button"
                                        ng-disabled="ticketFormBacklog.$waiting"
                                        ng-click="ticketFormBacklog.$cancel()"
                                        class="btn btn-default">
                                    <i class="icon-remove"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>