<div class="block-header">
    <h2>{{ vm.project.name }}</h2>
    <small>{{ vm.project.description }}</small>
</div>

<button class="btn bgm-red btn-float new-button"
        ng-click="vm.add_or_edit($event);"
        title="{{ 'PLANNING_NEW_TICKET' | translate }}">
    <i class="md md-add"></i>
</button>
<div class="sprints" ng-if="vm.is_scrumm()"
     ui-sortable="vm.sortSprintOptions"
     ng-model="vm.sprints">
    <!-- sprint items -->
    <div class="card sprint-item" ng-repeat="sprint in vm.sprints">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt">
                <h2 class="lvh-label">
                <span editable-text="sprint.name"
                      onbeforesave="vm.renameSprint(sprint);">{{ sprint.name }}</span>
                    <span ng-if="sprint.started" class="sprint_dates">({{ sprint.start_date.$date | date:'MM/dd/yyyy' }} {{ 'PLANNING_TO' | translate }} {{ sprint.end_date.$date | date:'MM/dd/yyyy'}})</span>
                </h2>
            </div>

            <div class="lv-body" ui-sortable="vm.sortTicketOptions"
                 ng-model="sprint.tickets">
                <div ng-repeat="tkt in sprint.tickets track by tkt._id.$oid"
                     class="lv-item media ticket-item {{ tkt.type }}"
                     ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <ng-include src="'planning/ticket-body.tpl.html'"
                                replace="true"></ng-include>
                </div>
                <div class="lv-item media">
                    <div class="media-body">
                        <div class="lv-title"
                             onaftersave="vm.saveQuickTicket(sprint);"
                             editable-text="vm.new_ticket"
                             e-form="ticketFormSprint"
                             ng-show="!ticketFormSprint.$visible"
                             e-ng-keypress="$event.which === 13 ? ticketFormSprint.$submit() : false"
                             ng-click="ticketFormSprint.$show()">
                            {{ 'PLANNING_FAST_NEW_TICKET' |
                            translate }}
                        </div>
                        <form editable-form name="ticketFormSprint"
                              ng-show="ticketFormSprint.$visible"
                              class="form-buttons form-inline"
                              style="margin: 5px 0 0">
                            <button type="submit"
                                    ng-disabled="ticketFormSprint.$waiting"
                                    class="btn btn-primary">
                                <i class="icon-ok"></i>
                            </button>
                            <button type="button"
                                    ng-disabled="ticketFormSprint.$waiting"
                                    ng-click="ticketFormSprint.$cancel()"
                                    class="btn btn-default">
                                <i class="icon-remove"></i>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- here goes backlog -->
<div class="card">
    <div class="listview lv-bordered lv-lg sprint-item"
         ng-repeat="sprint in vm.sprints">
        <div class="lv-header-alt">
            <h2 class="lvh-label hidden-xs">
                <span>{{ 'PLANNING_BACKLOG' | translate }}</span>
            </h2>
        </div>

        <div class="lv-body" ui-sortable="vm.sortTicketOptions"
             ng-model="vm.tickets">
            <div ng-repeat="tkt in vm.tickets track by tkt._id.$oid"
                 class="lv-item media user-story {{ tkt.type }}"
                 ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})">
                <div class="checkbox pull-left">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                    </label>
                </div>
                <ng-include src="'planning/ticket-body.tpl.html'"
                            replace="true"></ng-include>
            </div>
            <!-- Place holder ticket to quick creation -->
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title"
                         onaftersave="vm.saveQuickTicket(sprint);"
                         editable-text="vm.new_ticket"
                         e-form="ticketFormSprint"
                         ng-show="!ticketFormSprint.$visible"
                         e-ng-keypress="$event.which === 13 ? ticketFormSprint.$submit() : false"
                         ng-click="ticketFormSprint.$show()">
                        {{ 'PLANNING_FAST_NEW_TICKET' |
                        translate }}
                    </div>
                    <form editable-form name="ticketFormSprint"
                          ng-show="ticketFormSprint.$visible"
                          class="form-buttons form-inline"
                          style="margin: 5px 0 0">
                        <button type="submit"
                                ng-disabled="ticketFormSprint.$waiting"
                                class="btn btn-primary">
                            <i class="icon-ok"></i>
                        </button>
                        <button type="button"
                                ng-disabled="ticketFormSprint.$waiting"
                                ng-click="ticketFormSprint.$cancel()"
                                class="btn btn-default">
                            <i class="icon-remove"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>