<div class="row">
    <div class="col-md-12" ng-hide="vm.sprint.started"></h3>
        <h3>No sprint was started, please start a sprint to see the board!</h3>
    </div>
    <div class="col-md-12" ng-show="vm.sprint.started" prepare-board>

        <h3>Active Sprint: <[ vm.sprint.name ]></h3>

        <div class="pull-right">
            <!-- aca van los usuarios -->
        </div>
        <div class="board-area-wrapper" id="board-area-wrapper">
            <div class="board-area" id="board-area">
                <ul class="columns">
                    <li class="panel tasks-widget backlog col-md-3 column">
                        <header class="panel-heading">Sprint Backlog</header>
                        <div class="panel-body">
                            <div class="task-content">
                                <ul class="task-list"
                                    ui-sortable="vm.sortTicketOptions"
                                    ng-model="vm.tickets">
                                    <li ng-repeat="tkt in vm.tickets track by tkt._id.$oid"
                                        class="card ticket-item <[ tkt.type ]>"
                                        ng-click="vm.showDetails($event, tkt._id.$oid);">
                                        <div class="task-title">
                                            <span class="task-title-sp">
                                              <[ vm.project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]>
                                            </span>

                                        </div>
                                        <div class="row options">
                                            <div class="col-md-12">
                                                <span class="badge bg-warning"><[ tkt.points ]></span>
                                                <ul class="members pull-right">
                                                    <li ng-repeat="m in tkt.assigned_to"
                                                        title="<[ m.member.email ]>">
                                                        <img ng-if="m.member.picture"
                                                             ng-src="<[ m.member.picture ]>">
                                                        <img ng-if="!m.member.picture"
                                                             src="/static/assets/img/koala.png">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="panel backlog col-md-3 column"
                        ng-repeat="col in vm.columns">
                        <header class="panel-heading"><[ col.title ]></header>
                        <div class="panel-body" ng-style="vm.checkAlert(col)">
                            <div class="task-content">
                                <ul class="task-list"
                                    ui-sortable="vm.sortTicketOptions"
                                    ng-model="col.tickets">
                                    <li ng-repeat="tkt in col.tickets"
                                        class="card ticket-item <[ tkt.type ]>"
                                        ng-click="vm.showDetails($event, tkt._id.$oid);">
                                        <div class="task-title">
                                            <span class="task-title-sp">
                                              <[ vm.project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]>
                                            </span>
                                        </div>
                                        <div class="row options">
                                            <div class="col-md-12">
                                                <span class="badge bg-warning"><[ tkt.points ]></span>
                                                <ul class="members pull-right">
                                                    <li ng-repeat="m in tkt.assigned_to"
                                                        title="<[ m.email ]>">
                                                        <img ng-if="m.picture"
                                                             src="<[ m.picture ]>"/>
                                                        <img ng-if="!m.picture"
                                                             src="/static/assets/img/koala.png"/>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>