<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            Delete Ticket
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p>Are you sure to delete the ticket "<[ vm.ticket.prefix ]>-<[ vm.ticket.number ]>: <[ vm.ticket.title ]>"?</p>
            <button class="btn btn-danger"
                        data-ng-click="vm.erase();">Confirm Delete
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();">Cancel
                </button>
        </div>
    </div>
</section>