<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            New Ticket
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">


            <div class="alert alert-block alert-danger fade in"
                 data-ng-repeat="alert in alerts">
                <button data-dismiss="alert" data-ng-click="closeAlert($index)"
                        class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                <[ alert.msg ]>
            </div>

            <form name="form.ticket_form" class="form-horizontal"
                  ng-submit="save()"
                  novalidate>

                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control"
                           data-ng-class="{'error': form.ticket_form.title.$invalid && submitted}"
                           autocomplete="off"
                           placeholder="Title" data-ng-model="ticket.title"
                           name="title" type="text" required>
                    <label for="title" class="error"
                           data-ng-show="form.ticket_form.title.$invalid && submitted">Please
                        enter a title</label>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3"
                              name="description"
                              data-ng-model="ticket.description"></textarea>
                </div>
                <div class="form-group">
                    <label>Labels</label>
                    <tags-input ng-model="labels"
                                replace-spaces-with-dashes="false"
                                placeholder="Add Label"></tags-input>
                </div>

                <button class="btn btn-primary"
                        type="submit">Save
                </button>
                <button class="btn btn-warning"
                        data-ng-click="cancel();">Cancel
                </button>

            </form>
        </div>
    </div>
</section>