<div class="col-md-6">
    <div class="pull-right">
        <button class="btn btn-xs btn-primary" ng-click="close();">
            <i class="icon-remove"></i>
        </button>
    </div>
    <div class="spinner" ng-hide="loaded">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <section class="panel" ng-show="loaded">
        <div class="panel-heading">
            <a ng-href="#"><[ ticket.project.prefix]>-<[ ticket.number ]> : <[
                ticket.title ]></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Points</label>
                        <span class="badge bg-important">
                            <[ ticket.points ]>
                        </span>
                    <label>Ticket Type:</label>
                        <span class="badge <[ model.type]>">
                            <[ ticket.type_name ]>
                        </span>
                    <label>In Column:</label>
                        <span ng-if="!ticket.in_column"
                              class="badge bg-warning">Backlog</span>
                        <span ng-if="ticket.in_column"
                              class="badge bg-warning"><[ ticket.in_column ]></span>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <label>Description:</label>

                    <p><[ ticket.description ]></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <label>Labels:</label>

                    <p class="labels-ticket">
                            <span class="badge bg-info"
                                  ng-repeat="lbl in ticket.labels">
                                <[ lbl ]>
                            </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="attachments">
                        <label>Attachements:</label>
                        <div class="attachments_stored">
                            <div style="margin-right: 3px;margin-bottom:3px"
                                 ng-repeat="f in ticket.files"
                                 class="btn-group" dropdown
                                 is-open="f.isopen">
                                <button class="btn btn-xs btn-info"
                                        dropdown-toggle>
                                    <i ng-class="vm.checkTypeIcon(f)"></i>
                                    <span><[ f.name ]></span>
                                    <span>(<[ f.size / 1024 |number:0 ]> Kb)</span>
                                </button>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="#"
                                           ng-click="vm.download(f);">
                                        <i class="icon-download"></i>
                                        Download</a>
                                    </li>
                                    <li><a href="#"
                                           ng-click="vm.delete_file(f);">
                                        <i class="icon-trash"></i>
                                        Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="add_new_comment" comment-flow>
                        <textarea class="form-control" rows="1"
                                  ng-model="ticket.comment"
                                  placeholder="Write a comment..."></textarea>
                        <br/>
                        <button id="add-comment" style="display: none;"
                                class="btn btn-success pull-right"
                                ng-click="vm.add_new_comment($event)">Add
                            New
                            Comment
                        </button>
                        <div style="clear:both"></div>
                    </div>
                    <div class="comments">
                        <ul>
                            <li ng-repeat="c in ticket.comments track by c._id.$oid">
                                <div class="comment-box">
                                    <p><[ c.comment ]></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>