<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title pull-left">
            <span><[ vm.project.prefix]>-<[ vm.ticket.number ]></span>: <span><[ vm.ticket.title ]></span>
        </h4>

        <div class="pull-right">

        </div>
        <div style="clear:both"></div>
    </header>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label>Points</label>
                        <span class="badge bg-important">
                            <[ vm.ticket.points ]>
                        </span>
                        <label>Ticket Type:</label>
                        <span class="badge <[ vm.ticket.type]>">
                            <[ vm.type ]>
                        </span>
                        <label>In Column:</label>
                        <span ng-if="!vm.ticket.in_column"
                              class="badge bg-warning">Backlog</span>
                        <span ng-if="vm.ticket.in_column"
                              class="badge bg-warning"><[ vm.ticket.in_column ]></span>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <label>Description:</label>

                        <p><[ vm.ticket.description ]></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <label>Labels:</label>

                        <p class="labels-ticket">
                            <span class="badge bg-info"
                                  ng-repeat="lbl in vm.ticket.labels">
                                <[ lbl ]>
                            </span>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <p>Comments:</p>

                        <div class="add_new_comment">
                            <textarea class="form-control"
                                      ng-model="vm.comment"></textarea>
                            <br/>
                            <button class="btn btn-success pull-right"
                                    ng-click="vm.add_new_comment()">Add New
                                Comment
                            </button>
                        </div>
                        <div class="comments">
                            <div ng-repeat="comment in vm.ticket.comments">
                                <p><[ comment.comment ]></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>