<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            <[ 'NEW TICKET' | translate ]>
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.ticket_form" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>

                <div class="form-group">
                    <label><[ 'TITLE' | translate ]></label>
                    <input class="form-control"
                           data-ng-class="{'error': vm.form.ticket_form.title.$invalid && vm.submitted}"
                           autocomplete="off"
                           placeholder="Title" data-ng-model="vm.ticket.title"
                           name="title" type="text" required>
                    <label class="error"
                           data-ng-show="vm.form.ticket_form.title.$invalid && vm.submitted"><['TITLE ERROR']></label>
                </div>
                <div class="form-group">
                    <label><[ 'DESCRIPTION' | translate ]></label>
                    <textarea class="form-control" rows="3"
                              name="description"
                              data-ng-model="vm.ticket.description"></textarea>
                </div>
                <div class="form-group">
                    <label><[ 'LABELS' | translate ]></label>
                    <tags-input ng-model="vm.labels"
                                replace-spaces-with-dashes="false"
                                placeholder="Add Label"></tags-input>
                </div>
                <div class="form-group">
                    <label><[ 'POINTS' | translate]></label>
                    <input class="form-control"
                           autocomplete="off"
                           placeholder="Points" data-ng-model="vm.ticket.points"
                           name="points" type="text">
                </div>
                <div class="form-group">
                    <label><[ 'TICKET TYPE' | translate ]></label>
                    <select class="form-control"
                            data-ng-model="vm.ticket.type"
                            name="type"
                            ng-options="t.value as t.name for t in vm.types">
                    </select>
                </div>
                <div class="form-group">
                    <label><[ 'SPRINT' | translate ]></label>
                    <select class="form-control"
                            data-ng-model="vm.ticket.sprint"
                            name="sprint"
                            ng-options="s.name for s in vm.sprints track by s._id.$oid">
                        <option value=""><[ 'CHOOSE SPRINT' | translate ]></option>
                    </select>
                </div>

                <button class="btn btn-primary"
                        type="submit"><[ 'SAVE' | translate ]>
                </button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="vm.cancel();"><[ 'CANCEL' | translate]>
                </button>

            </form>
        </div>
    </div>
</section>