<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            {{ 'SETTINGS_REMOVE_MEMBER' | translate }}
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p ng-if="vm.member.member.first_name">{{ 'SETTINGS_REMOVE_MEMBER_CONFIRM' | translate }} "{{ vm.member.member.first_name }} {{ vm.member.member.last_name }}"?</p>
            <p ng-if="!vm.member.member.first_name">{{ 'SETTINGS_REMOVE_MEMBER_CONFIRM' | translate }} "{{ vm.member.member.email }}"?</p>
            <button class="btn btn-danger" data-ng-click="vm.erase();">{{ 'SETTINGS_DELETE_CONFIRM' | translate }}
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();">{{ 'SETTINGS_CANCEL' | translate }}
                </button>
        </div>
    </div>
</section>