<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            {{ 'PROJECT_DELETE' | translate }}
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p>{{ 'PROJECT_DELETE_CONFIRM_MESSAGE' | translate }} "{{ vm.project.name }}"?</p>
            <button class="btn btn-danger"
                        data-ng-click="vm.erase();">{{ 'PROJECT_DELETE_CONFIRM' | translate }}
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();">{{ 'PROJECT_CANCEL' | translate }}
                </button>
        </div>
    </div>
</section>