<form class="form-signin" name="vm.form.register" ng-submit="vm.register()"
      novalidate>
    <h2 class="form-signin-heading"><[ 'LOGIN_TITLE' | translate ]>
        <small><[ 'LOGIN_SUBTITLE' | translate ]></small>
        <span class="beta" style="right: 45px;font-size: 10px;top: 12px;">Beta</span>
    </h2>
    <p ng-if="vm.success">
        <[ 'LOGIN_REGISTER_SUCCESS' | translate ]>
        <a href="javascript:;" ui-sref="login"><[ 'LOGIN_LOG_IN' | translate ]></a>
    </p>
    <div class="login-wrap" ng-if="!vm.success">
        <div class="form-group">
            <input class="form-control"
                   data-ng-class="{'error': vm.form.register.email.$invalid && vm.submitted}"
                   autocomplete="off"
                   placeholder="E-Mail" data-ng-model="vm.user.email"
                   name="email" type="email" required>
            <label class="error"
                   data-ng-show="vm.form.register.email.$invalid && vm.submitted"><[ 'LOGIN_INVALID_EMAIL' | translate ]></label>
        </div>
        <div class="form-group">
            <input class="form-control"
                   data-ng-class="{'error': vm.form.register.password.$invalid && vm.submitted}"
                   autocomplete="off"
                   placeholder="Password" data-ng-model="vm.user.password"
                   name="password" type="password" required>
            <label class="error"
                   data-ng-show="vm.form.register.password.$invalid && vm.submitted"><[ 'LOGIN_INVALID_PASSWORD' | translate ]></label>
        </div>
        <div class="form-group">
            <input class="form-control"
                   data-ng-class="{'error': vm.form.register.firstname.$invalid && vm.submitted}"
                   autocomplete="off"
                   placeholder="First Name" data-ng-model="vm.user.firstname"
                   name="firstname" type="text" required>
            <label class="error"
                   data-ng-show="vm.form.register.firstname.$invalid && vm.submitted"><[ 'REGISTER_FIRST_NAME_ERROR' | translate ]></label>
        </div>
        <div class="form-group">
            <input class="form-control"
                   data-ng-class="{'error': vm.form.register.lastname.$invalid && vm.submitted}"
                   autocomplete="off"
                   placeholder="Last Name" data-ng-model="vm.user.lastname"
                   name="lastname" type="text" required>
            <label class="error"
                   data-ng-show="vm.form.register.lastname.$invalid && vm.submitted"><[ 'REGISTER_LAST_NAME_ERROR' | translate ]></label>
        </div>
        <button class="btn btn-primary"
                type="submit"><[ 'REGISTER' | translate ]>
        </button>
        <button class="btn btn-danger"
                type="button" ui-sref="login"><[ 'REGISTER_CANCEL' | translate ]>
        </button>
        <span class="error" ng-if="vm.error"><[vm.error]></span>

    </div>
</form>

