<!DOCTYPE html>
<html lang="en" ng-app="Coati" ng-controller="AppCtrl as main">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-ng-bind="pageTitle"><[ 'PAGE TITLE' | translate ]></title>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='assets/koala.ico')}}?v2"/>
    <!-- Bootstrap core CSS -->
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='<%= file %>')}}"/>
    <% }); %>
</head>

<body ui-view="master_view" ng-cloak translate-cloak
      data-ng-class="{true:'body-500', false:''}[actual_path == 'error_403']">
<section id="container">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <img src="{{ url_for('static', filename='assets/img/koala.png')}}"/>
        </div>
        <!--logo start-->
        <a href="/" class="logo">Coati<span> Agile Board</span>
        </a>
        <span class="beta">Beta</span>
        <!--logo end-->
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-left top-menu">
                <li id="search_bar">
                    <div class="spinner" ng-hide="!main.loading_results"
                         style="display: inline-block;">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <input type="text" ng-model="main.ticket_found"
                           placeholder="Search..."
                           typeahead-template-url="search_ticket.tpl.html"
                           typeahead-min-length="3"
                           typeahead-wait-ms="300"
                           typeahead-focus-first="false"
                           typeahead-editable="false"
                           typeahead-input-formatter="$model.label"
                           typeahead-on-select="main.on_select_result($item, $model, $label, $viewValue)"
                           typeahead="ticket for ticket in main.searchTickets($viewValue)"
                           class="form-control search">

                </li>
            </ul>
            <ul class="nav pull-right top-menu user-options"
                ng-controller="UserCtrl as vm">
                <li dropdown>
                    <a dropdown-toggle href="#">
                       <img ng-src="/static/assets/img/flags/<[ main.selectedLanguage ]>.png"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                          <a href="#" ng-click="main.switchLanguage('en')">
                              <img src="/static/assets/img/flags/en.png" />
                              <span><[ 'ENGLISH' | translate ]></span>
                          </a>
                        </li>
                        <li>
                            <a href="#" ng-click="main.switchLanguage('es')">
                                <img src="/static/assets/img/flags/es.png" />
                                <span><[ 'SPANISH' | translate ]></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="header_notification_bar" dropdown class="dropdown">
                    <a data-toggle="dropdown" ng-click="vm.loadNotifications();"
                       dropdown-toggle class="dropdown-toggle" href="#">
                        <i class="icon-bell"></i>
                        <span class="badge bg-warning"
                              ng-if="(vm.all_notifications | filter:{viewed:false}).length > 0"><[ (vm.all_notifications | filter:{viewed:false}).length ]></span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow-right notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">
                                <span ng-if="(vm.all_notifications | filter:{viewed:false}).length > 0">You have <[ (vm.all_notifications | filter:{viewed:false}).length ]> new notifications</span>
                                <span ng-if="(vm.all_notifications | filter:{viewed:false}).length < 1">Notification List</span>
                            </p>
                        </li>
                        <li ng-repeat="n in vm.notifications"
                            ng-class="{new:!n.viewed}">
                            <ng-include ng-if="n.activity.verb == 'mention'" src="'user/notifications/mention.tpl.html'"></ng-include>
                            <ng-include ng-if="n.activity.verb == 'new_comment'" src="'user/notifications/new_comment.tpl.html'"></ng-include>
                            <ng-include ng-if="n.activity.verb == 'update_ticket'" src="'user/notifications/update_ticket.tpl.html'"></ng-include>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="notifications">See all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown start-->
                <li dropdown>
                    <a class="dropdown-toggle user_picture" dropdown-toggle
                       href="javascript:;">
                        <img ng-if="!vm.user.picture" alt=""
                             src="{{ url_for('static', filename='assets/img/koala.png')}}">
                        <img ng-if="vm.user.picture" alt=""
                             ng-src="<[ vm.user.picture ]>">
                        <span class="username"><[ vm.user.email ]></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="javascript:;"
                               ng-click="vm.show_profile();"><i
                                class=" icon-suitcase"></i> <[ 'PROFILE' | translate ]></a>
                        </li>
                        <li><a ng-href="/auth/logout" href="/logout"
                               target="_self"><i
                                class="icon-key"></i> <[ 'LOG OUT' | translate ]></a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--main content start-->
    <section id="main-content">
        <div growl></div>
        <section class="wrapper" ui-view="main">
        </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2014 - Coati Team - <%= version %>
            <a href="#" class="go-top">
                <i class="icon-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>
<% scripts.forEach( function ( file ) { %>
<script type="text/javascript"
        src="{{ url_for('static', filename='<%= file %>')}}"></script>
<% }); %>
<script type="text/javascript"
        src="{{ config['SOCKET_IO'] }}/socket.io/socket.io.js"></script>
</body>
</html>