<!DOCTYPE html>
<html lang="en" ng-app="Coati" ng-controller="AppCtrl as main">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title data-ng-bind="pageTitle">Coati Agile Board</title>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='assets/koala.ico')}}?v2"/>
    <!-- Bootstrap core CSS -->
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='<%= file %>')}}"/>
    <% }); %>
</head>

<body ui-view="master_view" ng-cloak
      data-ng-class="{true:'body-500', false:''}[actual_path == 'error_403']">
<section id="container" layout="column" layout-fill>
    <!--header start-->
    <md-toolbar class="header-toolbar" layout="row" layout-align="top center">
        <md-button flex="5" data-ng-click="main.show_side();">
            <md-icon icon="/static/assets/img/icons/image/ic_dehaze_24px.svg"
                     style="width:24px; height:24px;"></md-icon>
        </md-button>
        <h1 flex="15" flow-order="2">COATI AGILE BOARD</h1>
        <small flex="5" flow-order="3"><%= version %></small>
        <div flex="75" layout="row" layout-align="end center">
            <md-button md-theme="alternative"
                       class="md-fab md-primary user-logged"
                       aria-label="<[ vm.user.first_name ]> <[ vm.user.last_name ]>"
                       ng-controller="UserCtrl as vm">
                <img ng-if="!vm.user.picture"
                     src="{{ url_for('static', filename='assets/img/koala.png')}}">
                <img ng-if="vm.user.picture" ng-src="<[ vm.user.picture ]>">
            </md-button>
        </div>
    </md-toolbar>
    <!--header end-->
    <!--main content start-->
    <md-content flex
                class="md-padding"
                ui-view="main">
    </md-content>
    <!--main content end-->
    <md-sidenav md-theme="alternative" class="md-whiteframe-z2 menu-general"
                md-component-id="menu-general">
        <md-toolbar>
            <h4>Options</h4>
        </md-toolbar>
        <md-content class="options">
             <md-list>
                <md-item>
                    <md-item-content>
                        <div class="md-tile-left">
                            <img src="/static/assets/img/icons/action/ic_assignment_24px.svg">
                        </div>
                        <div class="md-tile-content">
                            Planning
                        </div>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <div class="md-tile-left">
                            <img src="/static/assets/img/icons/action/ic_view_column_24px.svg">
                        </div>
                        <div class="md-tile-content">
                            Board
                        </div>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <div class="md-tile-left">
                            <img src="/static/assets/img/icons/action/ic_trending_down_24px.svg">
                        </div>
                        <div class="md-tile-content">
                            Reports
                        </div>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <div class="md-tile-left">
                            <img src="/static/assets/img/icons/action/ic_done_all_24px.svg">
                        </div>
                        <div class="md-tile-content">
                            Archived Sprints
                        </div>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <div class="md-tile-left">
                            <img src="/static/assets/img/icons/action/ic_assignment_turned_in_24px.svg">
                        </div>
                        <div class="md-tile-content">
                            Archived Tickets
                        </div>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <div class="md-tile-left">
                            <img src="/static/assets/img/icons/action/ic_settings_24px.svg">
                        </div>
                        <div class="md-tile-content">
                            Project Settings
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </md-sidenav>
</section>
<% scripts.forEach( function ( file ) { %>
<script type="text/javascript"
        src="{{ url_for('static', filename='<%= file %>')}}"></script>
<% }); %>
<script type="text/javascript"
        src="{{ config['SOCKET_IO'] }}/socket.io/socket.io.js"></script>
</body>
</html>