<form class="form-signin" name="vm.form.login" ng-submit="vm.login_user()"
      novalidate>
    <div class="lc-block toggled" id="l-login">
        <div class="form-group fg-float">
            <div class="fg-line"
                 data-ng-class="{'has-error': vm.form.login.email.$invalid && vm.submitted}">
                <input class="form-control fg-input"
                       data-ng-model="vm.credentials.email"
                       required
                       name="email"
                       type="email">
            </div>
            <label class="fg-label">
                E-Mail
            </label>
            <small class="help-block error"
                   data-ng-show="vm.form.login.email.$invalid && vm.submitted">
                {{
                'LOGIN_INVALID_EMAIL' | translate }}
            </small>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line"
                 data-ng-class="{'has-error': vm.form.login.password.$invalid && vm.submitted}">
                <input class="form-control fg-input"
                       data-ng-model="vm.credentials.password"
                       name="password"
                       type="password"
                       required>
            </div>
            <label class="fg-label">
                Password
            </label>
            <small class="help-block error"
                   data-ng-show="vm.form.login.password.$invalid && vm.submitted">
                {{'LOGIN_INVALID_PASSWORD' | translate }}
            </small>
        </div>
        <div class="form-group" data-ng-show="vm.serverError && vm.submitted">
            <small class="help-block error">
                {{vm.serverError}}
            </small>
        </div>

        <button type="button" ng-click="vm.authenticate('google')" class="btn bgm-red waves-effect waves-button waves-float">
            <i class="socicon socicon-google"></i> Google
        </button>
        <button type="button" ng-click="vm.authenticate('facebook')" class="btn bgm-indigo waves-effect waves-button waves-float">
            <i class="socicon socicon-facebook"></i> Facebook
        </button>
        <button type="button" ui-sref="register" class="btn bgm-teal waves-effect waves-button waves-float">{{ 'LOGIN_REGISTER' | translate }}</button>


        <div class="clearfix"></div>
        <button class="btn btn-login bgm-red btn-float waves-effect waves-button waves-float">
            <i class="md md-arrow-forward"></i>
        </button>
    </div>

</form>