<form class="form-signin" name="vm.form.login" ng-submit="vm.login_user()"
      novalidate>
    <h2 class="form-signin-heading"><[ 'LOGIN_TITLE' | translate ]>
        <small><[ 'LOGIN_SUB_TITLE' | translate ]></small>
        <span class="beta"  style="right: 45px;font-size: 10px;top: 12px;">Beta</span>
    </h2>


    <div class="login-wrap">
        <div class="form-group">
            <input class="form-control"
                   data-ng-class="{'error': vm.form.login.email.$invalid && vm.submitted}"
                   autocomplete="off"
                   placeholder="E-Mail" data-ng-model="vm.credentials.email"
                   name="email" type="email" required>
            <label class="error"
                   data-ng-show="vm.form.login.email.$invalid && vm.submitted"><[ 'LOGIN_INVALID_EMAIL' | translate ]></label>
        </div>
        <div class="form-group">
            <input class="form-control"
                   data-ng-class="{'error': vm.form.login.password.$invalid && vm.submitted}"
                   autocomplete="off"
                   placeholder="Password" data-ng-model="vm.credentials.password"
                   name="password" type="password" required>
            <label class="error"
                   data-ng-show="vm.form.login.password.$invalid && vm.submitted"><[ 'LOGIN_INVALID_PASSWORD' | translate ]></label>
        </div>
        <button class="btn btn-primary"
                type="submit"><[ 'LOGIN_LOG_IN' | translate ]>
        </button>
        <a href="/register"><[ 'LOGIN_REGISTER' | translate ]></a>
        <label style="display: block;" class="error" ng-if="vm.error"><[vm.error]></label>
        <hr>

        <p><[ 'LOGIN_SOCIAL' | translate ]></p>

        <div class="login-social-link">
            <a href="javascript:;" ng-click="vm.authenticate('google')"
               class="btn-google-plus">
                <i class="icon-google-plus"></i>
                Google
            </a>
            <a href="javascript:;" ng-click="vm.authenticate('facebook')"
               class="btn-facebook">
                <i class="icon-facebook"></i>
                Facebook
            </a>
        </div>
    </div>
</form>

