<div class="row" id="archived-sprints">
    <div class="col-md-12" id="planning-list">
        <section class="panel tasks-widget backlog">
            <header class="panel-heading">
                <span>Archived Sprints</span>

                <div class="add-task-row pull-right">
                    <span class="badge bg-inverse">Total Sprints: <[ vm.sprints.length ]></span>
                </div>
                <div style="clear:both"></div>
            </header>
            <div class="panel-body">
                <ul class="sprint-section">
                    <li ng-repeat="sprint in vm.sprints"
                        class="sprint-item">
                        <section class="panel tasks-widget sprint-item">
                            <header class="panel-heading">
                                <i class="icon-ellipsis-vertical handler"></i>
                                <span editable-text="sprint.name"
                                      onbeforesave="vm.renameSprint(sprint);"><[ sprint.name ]></span>
                                <span class="badge"><[ sprint.tickets.length ]></span>
                                <span ng-if="sprint.started"
                                      class="sprint_dates">(<[ sprint.start_date.$date | date:'short' ]> to <[ sprint.end_date.$date | date:'short']>)</span>

                                <div class="options pull-right">
                                    <span class="badge bg-inverse">Total Points: <[ sprint.tickets | sumValue:'points' ]></span>
                                    <a class="btn btn-sm btn-danger"
                                       ng-click="vm.remove_sprint(sprint._id.$oid)">
                                        <i class="icon-remove"></i> Remove
                                    </a>
                                </div>
                                <div style="clear:both"></div>
                            </header>
                            <div class="panel-body">
                                <div class="task-content">
                                    <ul class="task-list"
                                        ui-sortable="vm.sortTicketOptions"
                                        ng-model="sprint.tickets">
                                        <li ng-repeat="tkt in sprint.tickets track by tkt._id.$oid"
                                            class="ticket-item <[ tkt.type ]>"
                                            ng-click="vm.showDetails($event, tkt);"
                                            title="Click to quick view">
                                            <i class="icon-ellipsis-vertical handler"></i>

                                            <div class="task-title">
                                        <span class="task-title-sp">
                                          <[ vm.project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]>
                                        </span>

                                                <div class="pull-right hidden-phone">
                                                    <span class="badge bg-info"><[ tkt.points ]></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>