<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            <[ 'START SPRINT' | translate ]>
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.sprint_form" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>

                <div class="form-group">
                    <label><[ 'SPRINT' | translate ]></label>
                    <input ng-model="vm.sprint.name"
                           required
                           name="name"
                           data-ng-class="{'error': vm.form.sprint_form.name.$invalid && vm.submitted}"
                           class="form-control form-control-inline input-medium"
                           type="text">
                    <label for="name" class="error"
                           data-ng-show="vm.form.sprint_form.name.$invalid && vm.submitted"><[ 'SPRINT NAME ERROR' | translate ]></label>
                </div>
                <div class="form-group">
                    <label><[ 'START DATE' | translate ]></label>

                    <p class="input-group">
                        <input type="text" class="form-control date"
                               data-ng-class="{'error': vm.form.sprint_form.start_date.$invalid && vm.submitted}"
                               datepicker-popup="<[ vm.format ]>"
                               datepicker-options="vm.dateOptions"
                               ng-model="vm.sprint.start_date"
                               show-button-bar="false"
                               min="vm.min_date"
                               is-open="vm.startDateOpened"
                               ng-required="true" close-text="Close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger"
                                    ng-click="vm.openStartDate($event)"><i
                                    class="icon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <label for="start_date" class="error"
                           data-ng-show="vm.form.sprint_form.start_date.$invalid && vm.submitted"><[ 'START DATE REQUIRED' | translate ]></label>
                </div>
                <div class="form-group">
                    <label><[ 'END DATE' | translate ]></label>

                    <p class="input-group">
                        <input type="text" class="form-control"
                               data-ng-class="{'error': vm.form.sprint_form.end_date.$invalid && vm.submitted}"
                               datepicker-popup="<[ vm.format ]>"
                               datepicker-options="vm.dateOptions"
                               show-button-bar="false"
                               ng-model="vm.sprint.end_date"
                               min="vm.sprint.start_date"
                               max="vm.max_date"
                               is-open="vm.endDateOpened"
                               ng-required="true" close-text="Close">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger"
                                ng-click="vm.openEndDate($event)"><i
                                class="icon-calendar"></i>
                        </button>
                    </span>
                    </p>
                    <label for="end_date" class="error"
                           data-ng-show="vm.form.sprint_form.end_date.$invalid && vm.submitted"><[ 'END DATE REQUIRED' | translate ]></label>
                </div>


                <button class="btn btn-primary"
                        type="submit"><[ 'SAVE' | translate ]>
                </button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="vm.cancel();"><[ 'Cancel' | translate ]>
                </button>

            </form>
        </div>
    </div>
</section>