<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            Start Sprint
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.sprint_form" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>

                <div class="form-group">
                    <label>Sprint</label>
                    <input ng-model="vm.sprint.name"
                           required
                           name="name"
                           data-ng-class="{'error': vm.form.sprint_form.name.$invalid && vm.submitted}"
                           class="form-control form-control-inline input-medium default-date-picker"
                           type="text">
                    <label for="name" class="error"
                           data-ng-show="vm.form.sprint_form.name.$invalid && vm.submitted">Please
                        enter a sprint name</label>
                </div>
                <div class="form-group">
                    <label>Start Date</label>

                    <p class="input-group">
                        <input type="text" class="form-control"
                               data-ng-class="{'error': vm.form.sprint_form.start_date.$invalid && vm.submitted}"
                               datepicker-popup="<[ vm.format ]>"
                               datepicker-options="vm.dateOptions"
                               ng-model="vm.sprint.start_date"
                               min="vm.min_date"
                               is-open="vm.startDateOpened"
                               ng-required="true" close-text="Close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger"
                                    ng-click="vm.openStartDate($event)"><i
                                    class="icon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <label for="start_date" class="error"
                           data-ng-show="vm.form.sprint_form.start_date.$invalid && vm.submitted">Please
                        enter a start date</label>
                </div>
                <div class="form-group">
                    <label>End Date</label>

                    <p class="input-group">
                        <input type="text" class="form-control"
                               data-ng-class="{'error': vm.form.sprint_form.end_date.$invalid && vm.submitted}"
                               datepicker-popup="<[ vm.format ]>"
                               datepicker-options="vm.dateOptions"
                               ng-model="vm.sprint.end_date"
                               min="vm.sprint.start_date"
                               max="vm.max_date"
                               is-open="vm.endDateOpened"
                               ng-required="true" close-text="Close">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger"
                                ng-click="vm.openEndDate($event)"><i
                                class="icon-calendar"></i>
                        </button>
                    </span>
                    </p>
                    <label for="end_date" class="error"
                           data-ng-show="vm.form.sprint_form.end_date.$invalid && vm.submitted">Please
                        enter a end date</label>
                </div>


                <button class="btn btn-primary"
                        type="submit">Save
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();">Cancel
                </button>

            </form>
        </div>
    </div>
</section>