<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            <[ 'SPRINT_STOP' | translate ]>
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p><[ 'SPRINT_STOP_CONFIRMATION' | translate ]>: "<[ vm.sprint.name ]>"?</p>
            <button class="btn btn-danger" data-ng-click="vm.stopSprint();"><[ 'CONFIRM_STOP' | translate ]>
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();"><[ 'SPRINT_CANCEL' | translate ]>
                </button>
        </div>
    </div>
</section>