<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            Stop Sprint
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p>Are you sure to stop the current sprint: "<[ vm.sprint.name ]>"?</p>
            <button class="btn btn-danger"
                        data-ng-click="vm.stopSprint();">Confirm Stop
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();">Cancel
                </button>
        </div>
    </div>
</section>