<div class="projects" flex="66">
    <h3>
        <span>Project List</span>
    </h3>
    <md-content>
        <p data-ng-show="vm.projects.length < 1">You don't have Projects created
            yet!</p>
        <md-list>
            <md-item
                    data-ng-repeat="item in vm.projects track by item._id.$oid">
                <md-item-content
                        ui-sref="project.planning({project_pk: item._id.$oid })">
                    <div class="md-tile-left">
                        <md-button class="md-fab md-primary"
                                   data-ng-class="{'md-green-theme': item.project_type =='S', 'md-orange-theme': item.project_type =='K'}">
                            <[ item.project_type ]>
                        </md-button>

                    </div>
                    <div class="md-tile-content">
                        <h4>
                            <[ item.name ]>
                        </h4>

                        <p><[ item.description ]></p>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</div>

