<h3>
    <[ vm.project.name ]>
    <a class="btn btn-success btn-sm pull-right" href="#"
       ng-click="vm.add_or_edit($event);">Add New
        Ticket</a>
</h3>
<p><[ vm.project.description ]></p>
<div class="row" id="planning">
    <div class="col-md-12" id="planning-list">
        <ul class="sprint-section" as-sortable="vm.sortSprints"
            is-enabled="true"
            ng-model="vm.sprints">
            <li ng-repeat="sprint in vm.sprints" as-sortable-item
                class="sprint-item">
                <section class="panel tasks-widget sprint-item"
                         ng-class="{started:vm.sprint.started}">
                    <header class="panel-heading">
                        <i class="icon-ellipsis-vertical handler"
                           as-sortable-item-handle></i>
                        <span><[ sprint.name ]></span>
                        <span class="badge"><[ sprint.tickets.length ]></span>

                        <div class="options pull-right">
                            <span class="badge bg-inverse">Total Points: <[ sprint.tickets | sumValue:'points' ]></span>
                            <a ng-if="$index == 0 && !vm.one_started"
                               class="btn btn-primary btn-sm" href="#"
                               ng-click="vm.startSprint(sprint);">Start
                                Sprint</a>
                            <a ng-if="sprint.started"
                               class="btn btn-danger btn-sm" href="#"
                               ng-click="vm.stopSprint(sprint);">Stop Sprint</a>
                            <a class="btn btn-sm btn-danger"
                               ng-click="vm.remove_sprint(sprint._id.$oid)">
                                <i class="icon-remove"></i> Remove
                            </a>
                        </div>
                        <div style="clear:both"></div>
                    </header>
                    <div class="panel-body">
                        <div class="task-content">
                            <ul class="task-list" as-sortable="vm.sortTickets"
                                is-enabled="true" ng-model="sprint.tickets">
                                <li ng-repeat="tkt in sprint.tickets track by tkt._id.$oid"
                                    as-sortable-item
                                    class="ticket-item <[ tkt.type ]>"
                                    ng-click="vm.showQuickDetail(tkt);"
                                    title="Click to quick view">
                                    <i class="icon-ellipsis-vertical handler"
                                       as-sortable-item-handle></i>

                                    <div class="task-title">
                                        <span class="task-title-sp">
                                          <a href="javascript:;" ng-click="vm.showDetails($event, tkt);"><[ vm.project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]></a>
                                        </span>

                                        <div class="pull-right hidden-phone">
                                            <span class="badge bg-info"><[ tkt.points ]></span>
                                            <button class="btn btn-primary btn-xs icon-pencil"
                                                  title="Quick Edit"  ng-click="vm.add_or_edit($event, tkt);"></button>
                                            <button title="Delete Ticket" class="btn btn-danger btn-xs icon-trash"
                                                    ng-click="vm.delete_ticket($event, tkt);"></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
        </ul>

        <section class="panel tasks-widget backlog">
            <header class="panel-heading">
                <span>Backlog</span>
                <span class="badge"><[ vm.tickets.length ]></span>

                <div class="add-task-row pull-right">
                    <span class="badge bg-inverse">Total Points: <[ vm.tickets | sumValue:'points' ]></span>
                    <a class="btn btn-primary btn-sm" href="#"
                       ng-click="vm.create_sprint();">Create
                        Sprint</a>
                </div>
                <div style="clear:both"></div>
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul class="task-list" as-sortable="vm.sortBacklog"
                        ng-model="vm.tickets" is-enabled="true">
                        <li ng-repeat="tkt in vm.tickets track by tkt._id.$oid"
                            as-sortable-item class="user-story <[ tkt.type ]>"
                            ng-click="showQuickDetail(tkt);"
                                title="Click to quick view">
                            <i class="icon-ellipsis-vertical"
                               as-sortable-item-handle></i>

                            <div class="task-title">
                                <span class="task-title-sp">
                                  <a href="javascript:;" ng-click="vm.showDetails($event, tkt);"><[ vm.project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]></a>
                                </span>
                                <div class="pull-right hidden-phone">
                                    <span class="badge bg-info"><[ tkt.points ]></span>
                                    <button class="btn btn-primary btn-xs icon-pencil"
                                            title="Quick Edit" ng-click="vm.add_or_edit($event, tkt);"></button>
                                    <button title="Delete Ticket" class="btn btn-danger btn-xs icon-trash"
                                            ng-click="vm.delete_ticket($event,tkt);"></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <ticket-detail-view reduced-item="#planning-list" size-reduced-item="8">
    </ticket-detail-view>
</div>