<h3>
    <[ vm.project.name ]>
    <a class="btn btn-success btn-sm pull-right" href="javascript:;"
       ng-click="vm.add_or_edit($event);">Add New
        Ticket</a>
</h3>
<p><[ vm.project.description ]></p>
<div class="row" id="planning">
    <div class="col-md-12" id="planning-list">
        <ul class="sprint-section" ui-sortable="vm.sortSprintOptions"
            ng-model="vm.sprints">
            <li ng-repeat="sprint in vm.sprints"
                class="sprint-item">
                <section class="panel tasks-widget sprint-item"
                         ng-class="{started:sprint.started}">
                    <header class="panel-heading">
                        <span editable-text="sprint.name"
                              onbeforesave="vm.renameSprint(sprint);"><[ sprint.name ]></span>
                        <span ng-if="sprint.started" class="sprint_dates">(<[ sprint.start_date.$date | date:'MM/dd/yyyy' ]> to <[ sprint.end_date.$date | date:'MM/dd/yyyy']>)</span>

                        <div class="options pull-right">
                            <span class="badge bg-inverse">Total Tickets: <[ sprint.tickets.length ]></span>
                            <span class="badge bg-inverse">Total Points: <[ sprint.tickets | sumValue:'points' ]></span>
                            <a ng-if="$index == 0 && !vm.one_started && !sprint.finalized && !sprint.started"
                               class="btn btn-primary btn-sm"
                               href="javascript:;"
                               ng-click="vm.startSprint(sprint);">Start
                                Sprint</a>
                            <a ng-if="sprint.started && !sprint.finalized"
                               class="btn btn-primary btn-sm"
                               href="javascript:;"
                               ng-click="vm.edit_sprint(sprint);">Edit
                                Sprint</a>
                            <a ng-if="sprint.started && !sprint.finalized"
                               class="btn btn-danger btn-sm" href="javascript:;"
                               ng-click="vm.stopSprint(sprint);">Stop Sprint</a>
                            <a class="btn btn-sm btn-danger"
                               ng-click="vm.remove_sprint(sprint._id.$oid)">
                                <i class="icon-remove"></i> Remove
                            </a>
                        </div>
                        <div style="clear:both"></div>
                    </header>
                    <div class="panel-body">
                        <div class="task-content">
                            <ul class="task-list"
                                ui-sortable="vm.sortTicketOptions"
                                ng-model="sprint.tickets">
                                <li ng-repeat="tkt in sprint.tickets track by tkt._id.$oid"
                                    class="ticket-item <[ tkt.type ]>"
                                    ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})"
                                        >
                                    <div class="task-title">
                                        <span class="task-title-sp">
                                          <[ vm.project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]>
                                        </span>

                                        <div class="pull-right hidden-phone">
                                            <span class="badge bg-warning"><[ tkt.points ]> Pts.</span>
                                            <span ng-if="tkt.badges.comments > 0" class="badge" title="Comments"><i class="icon-comments"></i> <[ tkt.badges.comments ]></span>
                                            <span ng-if="tkt.badges.files > 0" class="badge"
                                                  title="Attachments"><i class="icon-paper-clip"></i> <[ tkt.badges.files ]></span>
                                            <button title="Delete Ticket"
                                                    class="btn btn-danger btn-xs icon-trash"
                                                    ng-click="vm.delete_ticket($event, tkt);"></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="ticket-item new-ticket NEW"
                                    title="Click to create a new ticket">
                                    <div e-style="display: inline-block;width: 100%"
                                         editable-text="vm.new_ticket"
                                         onaftersave="vm.saveQuickTicket(sprint);">
                                        Click here to add a new Ticket...
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
        </ul>

        <section class="panel tasks-widget backlog">
            <header class="panel-heading">
                <span>Backlog</span>

                <div class="add-task-row pull-right">
                    <span class="badge bg-inverse">Total Tickets: <[ vm.tickets.length ]></span>
                    <span class="badge bg-inverse">Total Points: <[ vm.tickets | sumValue:'points' ]></span>
                    <a class="btn btn-primary btn-sm" href="javascript:;"
                       ng-click="vm.create_sprint();">Create
                        Sprint</a>
                </div>
                <div style="clear:both"></div>
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <div class="spinner" ng-hide="!vm.loading_backlog">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <ul class="task-list" ui-sortable="vm.sortTicketOptions"
                        ng-model="vm.tickets">
                        <li ng-repeat="tkt in vm.tickets track by tkt._id.$oid"
                            class="user-story <[ tkt.type ]>"
                            ui-sref="project.planning.ticket({ticket_id:tkt._id.$oid, project_pk:vm.project._id.$oid})"
                                >
                            <div class="task-title">
                                <span class="task-title-sp">
                                  <[ vm.project.prefix ]>-<[ tkt.number ]>: <[ tkt.title ]>
                                </span>

                                <div class="pull-right hidden-phone">
                                    <span class="badge bg-warning"><[ tkt.points ]> Pts.</span>
                                    <span ng-if="tkt.badges.comments > 0" class="badge" title="Comments"><i class="icon-comments"></i> <[ tkt.badges.comments ]></span>
                                    <span ng-if="tkt.badges.files > 0" class="badge" title="Attachments"><i class="icon-paper-clip"></i> <[ tkt.badges.files ]></span>
                                    <button title="Delete Ticket"
                                            class="btn btn-danger btn-xs icon-trash"
                                            ng-click="vm.delete_ticket($event,tkt);"></button>
                                </div>
                            </div>
                        </li>
                        <li class="ticket-item new-ticket NEW"
                            title="Click to create a new ticket">
                            <div e-style="display: inline-block;width: 100%"
                                 editable-text="vm.new_ticket"
                                 onaftersave="vm.saveQuickTicket();">Click here
                                to add a new Ticket...
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>