<a href="javascript:;" ui-sref="project.planning.ticket({ticket_id:n.data.ticket._id.$oid, project_pk:n.activity.project._id.$oid})" ng-class="{'unread': !n.viewed}">
    <img ng-if="!n.activity.author.picture" alt=""
         src="/static/assets/img/koala.png">
    <img ng-if="n.activity.author.picture" alt=""
         ng-src="<[ n.activity.author.picture ]>">
    <strong><[ n.activity.author.first_name ]>
        <[ n.activity.author.last_name
        ]></strong> posted in <strong><[ n.activity.project.name ]></strong> a new comment for
    <strong>
        <[ n.activity.project.prefix]>-<[ n.data.ticket.number ]>: <[n.data.ticket.title ]>
    </strong>
</a>