<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            Delete Column
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <p>Are you sure to delete the column "<[ column.title ]>"?</p>
            <button class="btn btn-danger"
                        data-ng-click="erase();">Confirm Delete
                </button>
                <button class="btn btn-warning"
                        data-ng-click="cancel();">Cancel
                </button>
        </div>
    </div>
</section>