<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            <[ 'SETTINGS_NEW_COLUMN' | translate ]>
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.column_form" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>

                <div class="form-group">
                    <label><[ 'SETTINGS_COLUMN_TITLE' | translate ]></label>
                    <input class="form-control"
                           data-ng-class="{'error': vm.form.column_form.title.$invalid && vm.submitted}"
                           autocomplete="off"
                           placeholder="Title" data-ng-model="vm.column.title"
                           name="title" type="text" required>
                    <label class="error"
                           data-ng-show="vm.form.column_form.title.$invalid && vm.submitted"><[ 'SETTINGS_COLUMN_TITLE_ERROR' | translate ]></label>
                </div>
                <div class="form-group">
                    <label><[ 'SETTINGS_COLUMN_MAX_CARDS' | translate ]></label>
                    <input class="form-control"
                           autocomplete="off"
                           placeholder="9999" data-ng-model="vm.column.max_cards"
                           name="max_cards" type="text">
                </div>
                <div class="form-group">
                    <label><[ 'SETTINGS_COLUMN_COLOR_ALERT' | translate ]></label>
                    <input class="form-control"
                           autocomplete="off"
                           placeholder="#FF0000" data-ng-model="vm.column.color_max_cards"
                           name="color_max_cards" type="text">
                </div>

                <div class="form-group">
                    <label><[ 'SETTINGS_COLUMN_IS_DONE' | translate ]></label>
                    <input type="checkbox" name="done_column" ng-model="vm.column.done_column">
                </div>

                <button class="btn btn-primary"
                        type="submit"><[ 'SETTINGS_SAVE' | translate ]>
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();"><[ 'SETTINGS_CANCEL' | translate ]>
                </button>

            </form>
        </div>
    </div>
</section>