<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            New Member
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.members" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>
                <div class="form-group">
                    <lable>Select Members</lable>
                    <tags-input ng-model="vm.members" type="email" placeholder="Enter an Email" on-tag-added="vm.check_tag($tag);">
                        <auto-complete
                                source="vm.loadMembers($query)"></auto-complete>
                    </tags-input>
                </div>
                <button class="btn btn-primary"
                        type="submit">Save
                </button>
                <button class="btn btn-warning"
                        data-ng-click="vm.cancel();">Cancel
                </button>
            </form>
        </div>
    </div>
</section>