<section class="panel">
    <header class="panel-heading">
        <h4 class="modal-title">
            <[ 'NEW MEMBER' | translate ]>
        </h4>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form name="vm.form.members" class="form-horizontal"
                  ng-submit="vm.save()"
                  novalidate>
                <div class="form-group">
                    <lable><[ 'SELECT MEMBERS' | translate ]></lable>
                    <tags-input allowed-tags-pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' ng-model="vm.members" type="email" placeholder="Enter an Email" on-tag-added="vm.check_tag($tag);">
                        <auto-complete
                                source="vm.loadMembers($query)"></auto-complete>
                    </tags-input>
                </div>
                <button class="btn btn-primary"
                        type="submit"><[ 'SAVE' | translate ]>
                </button>
                <button class="btn btn-warning" type="button"
                        data-ng-click="vm.cancel();"><[ 'CANCEL' | translate]>
                </button>
            </form>
        </div>
    </div>
</section>