{% extends 'base.html' %}
{% block title %}Coati Scrum Board{% endblock %}
{% block content %}
<form class="form-signin">
    <h2 class="form-signin-heading">Coati Agile Board</h2>

    <div class="login-wrap">
        <h1>COATI 1.0</h1>

        <p>Please log in with some social account!</p>

        <div class="login-social-link">
            <a href="/authenticate?provider=github" class="btn-github" style="width: 290px;
text-align: center;">
                <i class="icon-github"></i>
                GitHub
            </a>
        </div>
        <div class="login-social-link">
            <a href="/authenticate?provider=google" class="btn-google-plus">
                <i class="icon-google-plus"></i>
                Google
            </a>
            <a href="/authenticate?provider=facebook" class="btn-facebook">
                <i class="icon-facebook"></i>
                Facebook
            </a>
        </div>
    </div>
</form>
{% endblock %}